Repository NamseEnt/namseent, pull requests merged in 2022-10, with the labels that each got.

#357 Fix wrong sequence id matching
  luda-editor/server/src/services/sequence/mod.rs
Labels: luda editor

#356 Use docker-cli, not docker compose v2
  luda-editor/server/clear-storage.sh
  luda-editor/server/run_local_storage.sh
Labels: luda editor

#358 Remove cut with right click context menu
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/screen_editor.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/top_bar.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/mod.rs
  luda-editor/client/src/pages/sequence_list_page/mod.rs
Labels: luda editor

#360 Serve s3 by redirection
  luda-editor/server/src/handle/serve_s3.rs
  namui/src/namui/system/file/bundle/create_bundle_url.rs
  namui/src/namui/system/file/bundle/read_dir/load_bundle_metadata.rs
  namui/src/namui/system/network/http/mod.rs
Labels: luda editor, namui

#365 Fix wrong y baseline for text-input
  namui/sample/text-input/src/lib.rs
  namui/src/namui/render/text_input/draw_texts_divided_by_selection.rs
Labels: namui

#366 Optimize text grouping using cache
  namui/src/namui/common/text/glyph_group.rs
  namui/src/namui/skia/web/font.rs
Labels: namui

#367 Limit maximum scroll y
  namui-prebuilt/src/list_view.rs
Labels: namui-prebuilt

#368 Add border for Line List header
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
Labels: luda editor

#369 Insert new cell
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#370 Debounce sync requests
  luda-editor/client/src/sync.rs
Labels: luda editor

#371 Calculate text selection with y, baseline too
  namui/src/namui/common/text/line_texts.rs
  namui/src/namui/system/text_input/mouse_event.rs
Labels: namui

#372 Close context menu on click outside
  luda-editor/client/src/components/context_menu.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#373 Revert sequence with ctrl+z
  luda-editor/client/Cargo.lock
  luda-editor/client/Cargo.toml
  luda-editor/client/src/components/mod.rs
  luda-editor/client/src/components/sync.rs
  luda-editor/client/src/lib.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/top_bar.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/revert.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/update_data.rs
  luda-editor/revert-json-patch/.gitignore
  luda-editor/revert-json-patch/Cargo.toml
  luda-editor/revert-json-patch/specs/revert_tests.json
  luda-editor/revert-json-patch/specs/spec_tests.json
  luda-editor/revert-json-patch/specs/tests.json
  luda-editor/revert-json-patch/src/diff.rs
  luda-editor/revert-json-patch/src/lib.rs
  luda-editor/revert-json-patch/src/revert.rs
  luda-editor/revert-json-patch/src/tests/mod.rs
  luda-editor/revert-json-patch/src/tests/util.rs
  luda-editor/rpc/Cargo.toml
  luda-editor/rpc/src/lib.rs
  luda-editor/server/Cargo.lock
Labels: luda editor

#375 Enhance transition effect
  luda-editor/client/src/components/sequence_player.rs
Labels: luda editor

#376 Support text_input blur
  namui/src/namui/mod.rs
  namui/src/namui/system/text_input/mod.rs
Labels: namui

#377 Impl redo for luda editor
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/revert.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/undo_redo.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/update_data.rs
  luda-editor/revert-json-patch/src/revert.rs
Labels: luda editor

#378 Expose common_for_f32_type macro
  image-cropper/src/app/cropper/render_app_bar.rs
  image-cropper/src/app/file_selector/file_selector.rs
  luda-editor/client/src/components/context_menu.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/filtered_image_list.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/update/dragging/resize.rs
  namui-animation-editor/src/time_ruler/gradations.rs
  namui-prebuilt/src/button.rs
  namui-prebuilt/src/list_view.rs
  namui/src/namui/animation/image_keyframe_graph.rs
  namui/src/namui/common/types/angle.rs
  namui/src/namui/common/types/macros.rs
  namui/src/namui/common/types/mod.rs
  namui/src/namui/common/types/ratio.rs
  namui/src/namui/common/types/rect.rs
  namui/src/namui/draw/image.rs
  namui/src/namui/mod.rs
  namui/src/namui/render/matrix.rs
  namui/src/namui/render/rect.rs
Labels: namui

#350 Fix rust version 1.64
  docker-images/namui-test-host/linux.Dockerfile
  namui-cli/src/procedures/linux/wasm_unknown_web/test.rs
Labels: namui-cli

#379 Enhence Per type
  namui/src/namui/common/types/macros.rs
  namui/src/namui/common/types/mod.rs
  namui/src/namui/common/types/per.rs
  namui/src/namui/common/types/simple_signed.rs
  namui/src/namui/common/types/time.rs
Labels: enhancement, namui

#380 Improve namui vector type calculating expression
  .github/workflows/namui-test-host-linux.yml
  namui-animation-editor/src/time_point_editor/wysiwyg_window/render/layer/editing_tool/rotate.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/update/dragging/mod.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/update/dragging/moving.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/update/dragging/resize.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/update/mod.rs
  namui/sample/type_macro/.cargo/config.toml
  namui/sample/type_macro/.gitignore
  namui/sample/type_macro/Cargo.toml
  namui/sample/type_macro/src/lib.rs
  namui/src/namui/common/types/int_px.rs
  namui/src/namui/common/types/macros.rs
  namui/src/namui/common/types/mod.rs
  namui/src/namui/common/types/percent.rs
  namui/src/namui/common/types/px_per_time.rs
  namui/src/namui/common/types/time.rs
  namui/src/namui/common/types/time_per_px.rs
  namui/src/namui/common/types/vector_types/macros.rs
  namui/src/namui/common/types/vector_types/mod.rs
  namui/src/namui/common/types/vector_types/xy.rs
  namui/src/namui/render/matrix.rs
Labels: namui

#381 Rename and delete sequence
  luda-editor/client/src/pages/sequence_list_page/mod.rs
  luda-editor/rpc/src/lib.rs
  luda-editor/server/delete_dynamodb_item.sh
  luda-editor/server/src/main.rs
  luda-editor/server/src/services/sequence/mod.rs
  luda-editor/server/src/storage/dynamo_db/singular.rs
  luda-editor/server/src/storage/s3/mod.rs
Labels: luda editor

#388 Floor scroll-y to prevent alias flickering
  namui-prebuilt/src/scroll_view.rs
  namui/src/namui/common/types/macros.rs
Labels: luda editor, namui, namui-prebuilt

#391 Fix wrong rect border stroke
  .github/workflows/namui-test-host-linux.yml
  namui/sample/rect/.cargo/config.toml
  namui/sample/rect/.gitignore
  namui/sample/rect/Cargo.toml
  namui/sample/rect/src/lib.rs
  namui/src/namui/render/rect.rs
Labels: namui
