Repository NamseEnt/namseent, pull requests merged in 2022-06, with the labels that each got.

#202 Get local xy in wheel event without id
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/image_browser/scroll.rs
  luda-editor/luda-editor-client/src/app/editor/timeline/timeline_body/mod.rs
  namui-prebuilt/src/scroll_view.rs
  namui/src/namui/common/mod.rs
  namui/src/namui/mod.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/special/attach_event.rs
Labels: namui

#203 Prevent ctrl+wheel zoom
  namui/Cargo.toml
  namui/src/namui/manager/web/wheel_manager.rs
Labels: namui

#204 Replace code slice with IntoIterator
  luda-editor/luda-editor-client/src/app/editor/mod.rs
  luda-editor/luda-editor-client/src/app/editor/timeline/timeline_body/mod.rs
  namui/src/namui/manager/mock/keyboard_manager.rs
  namui/src/namui/manager/web/keyboard_manager.rs
  namui/src/namui/render/text_input/get_selection_on_mouse_down.rs
Labels: namui

#205 Remove & for f32 param
  luda-editor/luda-editor-client/src/app/editor/timeline/mod.rs
  luda-editor/luda-editor-client/src/app/types/time_per_pixel.rs
Labels: namui

#212 Watch Cargo.toml and .namuibundle
  namui-cli/src/services/rust_project_watch_service.rs
Labels: namui

#211 Show FileSystemInitError full error message
  luda-editor/luda-editor-client/Cargo.lock
  namui/Cargo.toml
  namui/src/namui/common/mod.rs
  namui/src/namui/fs/bundle/read_dir/bundle_dir_reader.rs
  namui/src/namui/fs/init.rs
  namui/src/namui/mod.rs
Labels: namui

#213 Decode encoded bundle url
  namui-cli/Cargo.lock
  namui-cli/Cargo.toml
  namui-cli/src/services/wasm_bundle_web_server.rs
Labels: namui

#209 Scale on render
  namui/src/namui/mod.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/rendering_tree/visit.rs
  namui/src/namui/render/special/mod.rs
  namui/src/namui/render/special/scale.rs
  namui/src/namui/skia/web/canvas.rs
  namui/src/namui/skia/web/canvas_kit/canvas.rs
Labels: namui

#214 Use Url for dirent and image source
  luda-editor/luda-editor-client/Cargo.lock
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/image_browser/browser_item.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/image_browser/mod.rs
  luda-editor/luda-editor-client/src/app/editor/sequence_player/content_loader.rs
  luda-editor/luda-editor-client/src/app/types/camera_angle.rs
  namui/Cargo.toml
  namui/src/namui/fs/bundle/read_dir/make_path_dirent_list_map.rs
  namui/src/namui/fs/electron/read_dir.rs
  namui/src/namui/fs/types/dirent.rs
  namui/src/namui/fs/types/path_like.rs
  namui/src/namui/manager/mock/image_manager.rs
  namui/src/namui/manager/web/image_manager.rs
  namui/src/namui/mod.rs
  namui/src/namui/namui_mock/fetch.rs
  namui/src/namui/render/image.rs
Labels: namui

#217 Cache font information for optimization
  namui/src/namui/common/mod.rs
  namui/src/namui/draw/text.rs
  namui/src/namui/event/mod.rs
  namui/src/namui/render/text.rs
  namui/src/namui/render/text_input/draw_caret.rs
  namui/src/namui/render/text_input/get_selection_on_mouse_down.rs
  namui/src/namui/skia/base/paint_builder.rs
  namui/src/namui/skia/types.rs
  namui/src/namui/skia/web/canvas.rs
  namui/src/namui/skia/web/font.rs
  namui/src/namui/skia/web/paint.rs
Labels: namui

#218 Fix get_pressing_buttons to return right buttons
  namui/src/namui/manager/web/mouse_manager.rs
Labels: bug, namui

#221 Hide some rendering tree functions
  namui/src/namui/render/rendering_tree/mod.rs
Labels: namui

#222 Fix local_xy failure with scale
  namui/src/namui/manager/web/text_input_manager.rs
  namui/src/namui/mod.rs
  namui/src/namui/render/matrix.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/rendering_tree/visit.rs
Labels: namui

#223 Provide context in mouse event
  namui/src/namui/mod.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/special/attach_event.rs
Labels: namui

#228 Render before draw
  namui/src/namui/mod.rs
Labels: namui

#229 Support keyboard event
  image-cropper/src/app/cropper/canvas/canvas.rs
  namui/src/namui/common/mod.rs
  namui/src/namui/event/mod.rs
  namui/src/namui/manager/mock/keyboard_manager.rs
  namui/src/namui/manager/mock/wheel_manager.rs
  namui/src/namui/manager/web/keyboard_manager.rs
  namui/src/namui/manager/web/wheel_manager.rs
  namui/src/namui/mod.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/special/attach_event.rs
Labels: namui

#234 Disable cache for bundle
  namui-cli/src/services/wasm_bundle_web_server.rs
Labels: namui

#233 Clean code of namui context
  namui/src/namui/common/mod.rs
  namui/src/namui/event/mod.rs
  namui/src/namui/mod.rs
  namui/src/namui/namui_context/main_loop/mod.rs
  namui/src/namui/namui_context/main_loop/post_update_and_render.rs
  namui/src/namui/namui_context/main_loop/pre_update_and_render.rs
  namui/src/namui/namui_context/mod.rs
  namui/src/namui/namui_mock/mod.rs
  namui/src/namui/namui_web/mod.rs
Labels: namui

#230 Make attach_event builder can break chain
  image-cropper/src/app/cropper/canvas/canvas.rs
  image-cropper/src/app/cropper/render_back_button.rs
  image-cropper/src/app/cropper/render_save_button.rs
  image-cropper/src/app/cropper/selection/poly_selection.rs
  image-cropper/src/app/cropper/selection/rect_selection.rs
  image-cropper/src/app/file_selector/render_file_select_dialog_open_button.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/button.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/image_browser/back_button.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/image_browser/browser_item.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/image_browser/empty_button.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/image_browser/scroll.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/wysiwyg_editor/background_wysiwyg_editor/mod.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/wysiwyg_editor/character_wysiwyg_editor/cropper.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/wysiwyg_editor/character_wysiwyg_editor/mod.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/wysiwyg_editor/resizer.rs
  luda-editor/luda-editor-client/src/app/editor/context_menu/mod.rs
  luda-editor/luda-editor-client/src/app/editor/sequence_player/buttons.rs
  luda-editor/luda-editor-client/src/app/editor/timeline/time_ruler/mod.rs
  luda-editor/luda-editor-client/src/app/editor/timeline/timeline_body/mod.rs
  luda-editor/luda-editor-client/src/app/editor/timeline/timeline_body/track_body/camera_track_body/mod.rs
  luda-editor/luda-editor-client/src/app/editor/timeline/timeline_body/track_body/resizable_clip_body/mod.rs
  luda-editor/luda-editor-client/src/app/editor/timeline/timeline_body/track_body/subtitle_track_body/subtitle_clip_body.rs
  luda-editor/luda-editor-client/src/app/editor/top_bar/go_back_button.rs
  luda-editor/luda-editor-client/src/app/editor/top_bar/meta_update_button.rs
  luda-editor/luda-editor-client/src/app/editor/top_bar/sheet_sequence_syncer_bar.rs
  luda-editor/luda-editor-client/src/app/sequence_list/list/list.rs
  luda-editor/luda-editor-client/src/app/sequence_list/list/open_button.rs
  luda-editor/luda-editor-client/src/app/sequence_list/list/preview_slider.rs
  luda-editor/luda-editor-client/src/app/sequence_list/list/title_button.rs
  luda-editor/luda-editor-client/src/app/sequence_list/sync_sequences_button.rs
  namui-prebuilt/src/scroll_view.rs
  namui/src/namui/render/special/attach_event.rs
Labels: namui

#236 Set renderingTree as mouse cursor
  image-cropper/src/app/cropper/selection/rect_selection.rs
  luda-editor/luda-editor-client/src/app/editor/clip_editor/camera_clip_editor/wysiwyg_editor/character_wysiwyg_editor/cropper.rs
  namui/src/namui/manager/mock/mouse_manager.rs
  namui/src/namui/manager/web/mouse_manager.rs
  namui/src/namui/namui_context/main_loop/mod.rs
  namui/src/namui/namui_context/main_loop/post_update_and_render.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/special/mouse_cursor.rs
Labels: namui

#237 Fix rotation angle in cw direction
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/rendering_tree/visit.rs
  namui/src/namui/render/special/rotate.rs
Labels: namui

#238 Save Images into zip file
  image-cropper/Cargo.lock
  image-cropper/Cargo.toml
  image-cropper/src/app/cropper/save_image.rs
  image-cropper/src/app/cropper/save_image/create_element.rs
  image-cropper/src/app/cropper/save_image/get_png_encoded_u8_from_canvas.rs
  image-cropper/src/app/cropper/save_image/image_zipper.rs
  image-cropper/src/app/cropper/save_image/mod.rs
  image-cropper/src/app/cropper/save_image/save_image.rs
Labels: image-cropper

#239 Fix wrong absolute xy in check
  namui/src/namui/render/rendering_tree/visit.rs
Labels: namui

#240 Abort deleting canvaskit canvas
  namui/src/namui/skia/web/canvas.rs
  namui/src/namui/skia/web/canvas_kit/embind_object.rs
Labels: namui

#242 Add zoom tool
  image-cropper/src/app/cropper/canvas/canvas.rs
  image-cropper/src/app/cropper/canvas/event.rs
  image-cropper/src/app/cropper/canvas/tool.rs
Labels: image-cropper

#247 Expose KeyboardEvent
  namui/src/namui/mod.rs
Labels: namui

#249 Table, button, typography, simple rect, center text!
  namseent.code-workspace
  namui-prebuilt/src/button.rs
  namui-prebuilt/src/center_text.rs
  namui-prebuilt/src/lib.rs
  namui-prebuilt/src/list_view.rs
  namui-prebuilt/src/rect_slice/mod.rs
  namui-prebuilt/src/rect_slice/traits.rs
  namui-prebuilt/src/scroll_view.rs
  namui-prebuilt/src/simple_rect.rs
  namui-prebuilt/src/table/mod.rs
  namui-prebuilt/src/typography.rs
Labels: namui-prebuilt
