Repository NamseEnt/namseent, pull requests merged in 2022-12, with the labels that each got.

#462 Support local storage
  namui/Cargo.toml
  namui/src/namui/system/file/local_storage/delete.rs
  namui/src/namui/system/file/local_storage/file_system_directory_handle.rs
  namui/src/namui/system/file/local_storage/file_system_file_handle.rs
  namui/src/namui/system/file/local_storage/file_system_handle.rs
  namui/src/namui/system/file/local_storage/get_root_directory.rs
  namui/src/namui/system/file/local_storage/make_dir.rs
  namui/src/namui/system/file/local_storage/mod.rs
  namui/src/namui/system/file/local_storage/read.rs
  namui/src/namui/system/file/local_storage/read_dir.rs
  namui/src/namui/system/file/local_storage/write.rs
  namui/src/namui/system/file/mod.rs
Labels: namui

#472 Keep context menu within screen
  luda-editor/client/src/components/context_menu.rs
Labels: luda editor

#473 Copy preview link
  luda-editor/client/src/lib.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/client/src/share_preview.rs
  luda-editor/client/src/viewer/mod.rs
Labels: luda editor

#476 Handle user interaction for entity
  luda-adventure/.vscode/settings.json
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/interaction/event.rs
  luda-adventure/src/app/game/interaction/get_interactive_object_list.rs
  luda-adventure/src/app/game/interaction/mod.rs
  luda-adventure/src/app/game/interaction/nearest_entity_id.rs
  luda-adventure/src/app/game/known_id/object.rs
  luda-adventure/src/app/game/mod.rs
  luda-adventure/src/app/game/render/create_rendering_context.rs
  luda-adventure/src/app/game/render/mod.rs
  luda-adventure/src/app/game/render/render_interaction_guide.rs
  luda-adventure/src/app/game/types/game_state/tick_state.rs
  luda-adventure/src/app/game/update/handle_interaction.rs
  luda-adventure/src/app/game/update/mod.rs
  luda-adventure/src/component/interactor.rs
  luda-adventure/src/component/mod.rs
Labels: luda-adventure

#477 Do not change font_type.size
  luda-adventure/src/app/game/render/render_interaction_guide.rs
Labels: luda-adventure

#479 Handle utf16 multiple length selection problem with font fallback
  namui/sample/text-input/src/lib.rs
  namui/src/namui/common/text/glyph_group.rs
  namui/src/namui/common/text/line_texts.rs
  namui/src/namui/common/text/measure_glyphs.rs
  namui/src/namui/common/text/mod.rs
  namui/src/namui/common/text/multiline_caret.rs
  namui/src/namui/common/text/text_width.rs
  namui/src/namui/draw/text.rs
  namui/src/namui/render/text.rs
  namui/src/namui/render/text_input/draw_caret.rs
  namui/src/namui/render/text_input/draw_texts_divided_by_selection.rs
  namui/src/namui/render/text_input/mod.rs
  namui/src/namui/skia/base/paint_builder.rs
  namui/src/namui/skia/web/font.rs
  namui/src/namui/skia/web/paint.rs
  namui/src/namui/system/font/mod.rs
  namui/src/namui/system/text_input/key_down.rs
  namui/src/namui/system/text_input/mod.rs
  namui/src/namui/system/text_input/mouse_event.rs
  namui/src/namui/system/text_input/selection.rs
Labels: namui

#481 Move map with portal
  luda-adventure/asset/image/portal.png
  luda-adventure/asset/map/first.ron
  luda-adventure/asset/map/second.ron
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/interaction/event.rs
  luda-adventure/src/app/game/interaction/get_interactive_object_list.rs
  luda-adventure/src/app/game/interaction/kind.rs
  luda-adventure/src/app/game/interaction/mod.rs
  luda-adventure/src/app/game/interaction/nearest_entity_id.rs
  luda-adventure/src/app/game/map/map.rs
  luda-adventure/src/app/game/map/map_loader.rs
  luda-adventure/src/app/game/map/map_object/map_object.rs
  luda-adventure/src/app/game/map/map_object/mod.rs
  luda-adventure/src/app/game/map/map_object/portal.rs
  luda-adventure/src/app/game/map/mod.rs
  luda-adventure/src/app/game/render/create_rendering_context.rs
  luda-adventure/src/app/game/render/render_interaction_guide.rs
  luda-adventure/src/app/game/test/character_should_escape_edge_of_wall.rs
  luda-adventure/src/app/game/test/character_should_not_move_on_cross_axis_when_collide.rs
  luda-adventure/src/app/game/update/handle_interaction.rs
  luda-adventure/src/component/interactor.rs
Labels: luda-adventure

#482 Evaluate tick every animation frame
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/interaction/get_interactive_object_list.rs
  luda-adventure/src/app/game/render/create_rendering_context.rs
  luda-adventure/src/app/game/render/render_interaction_guide.rs
  luda-adventure/src/app/game/render/render_quest_guide/render_guide_arrow.rs
  luda-adventure/src/app/game/render/render_quest_guide/render_quest_guide.rs
  luda-adventure/src/app/game/types/game_state/tick_state.rs
  luda-adventure/src/app/game/types/rendering_context.rs
  luda-adventure/src/app/game/update/evaluate_ticks/evaluate_ticks.rs
  luda-adventure/src/app/game/update/evaluate_ticks/mod.rs
  luda-adventure/src/app/game/update/evaluate_ticks/move_character.rs
  luda-adventure/src/app/game/update/evaluate_ticks/pre_evaluate_ticks/mod.rs
  luda-adventure/src/app/game/update/evaluate_ticks/pre_evaluate_ticks/pre_evaluate_ticks.rs
  luda-adventure/src/app/game/update/evaluate_ticks/pre_evaluate_ticks/update_positioner_interpolation.rs
  luda-adventure/src/app/game/update/handle_interaction.rs
  luda-adventure/src/component/positioner.rs
  luda-adventure/src/component/renderer/renderer.rs
Labels: luda-adventure
