Repository NamseEnt/namseent, pull requests merged in 2022-08, with the labels that each got.

#292 Change wasm-pack target from 'no-modules' to 'web'
  namui-cli/src/services/rust_build_service.rs
Labels: namui-cli

#293 Restore hotReload.js
  namui-cli/www/index.html
Labels: namui-cli

#294 Support deep link
  namui-cli/electron/forge.config.js
  namui-cli/electron/src/main.js
  namui-cli/electron/src/namuiApi/deepLink.js
  namui-cli/electron/src/namuiApi/index.js
  namui-cli/src/procedures/linux/wasm_linux_electron/build.rs
  namui-cli/src/procedures/linux/wasm_linux_electron/start.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/build.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/start.rs
  namui-cli/src/services/electron_dev_service.rs
  namui-cli/src/util/mod.rs
  namui-cli/src/util/namui_deep_link_manifest/mod.rs
  namui-cli/src/util/namui_deep_link_manifest/namui_deep_link_manifest.rs
  namui/src/namui/common/mod.rs
  namui/src/namui/event/mod.rs
  namui/src/namui/namui_context/main_loop/post_update_and_render.rs
  namui/src/namui/namui_context/main_loop/pre_update_and_render.rs
  namui/src/namui/system/deep_link.rs
  namui/src/namui/system/mod.rs
Labels: namui, namui-cli

#295 Support open external feature
  namui-cli/electron/src/main.js
  namui-cli/electron/src/namuiApi/index.js
  namui-cli/electron/src/namuiApi/openExternal.js
  namui/src/namui/common/mod.rs
  namui/src/namui/common/open_external.rs
Labels: namui

#296 Disable web security on electron
  namui-cli/electron/src/main.js
Labels: namui

#297 Login to github with oauth
  luda-editor/luda-editor-client/.namuideeplink
  luda-editor/luda-editor-client/src/app/app.rs
  luda-editor/luda-editor-client/src/app/authentication/authentication.rs
  luda-editor/luda-editor-client/src/app/github_api/get_access_token_with_oauth_code.rs
  luda-editor/luda-editor-client/src/app/github_api/get_user_id.rs
  luda-editor/luda-editor-client/src/app/github_api/mod.rs
  luda-editor/luda-editor-client/src/app/github_api/types/mod.rs
  luda-editor/luda-editor-client/src/app/github_api/types/request_builder.rs
  luda-editor/luda-editor-client/src/app/github_api/types/user.rs
  luda-editor/luda-editor-client/src/app/github_api/validate_token.rs
Labels: luda editor

#298 Simplify namui project's start fn
  image-cropper/Cargo.lock
  image-cropper/src/lib.rs
  luda-editor/luda-editor-client/Cargo.lock
  luda-editor/luda-editor-client/Cargo.toml
  luda-editor/luda-editor-client/src/lib.rs
  namui-animation-editor/sample/Cargo.toml
  namui-animation-editor/sample/src/lib.rs
  namui-cli/src/cli.rs
  namui-cli/src/procedures/linux/wasm_linux_electron/build.rs
  namui-cli/src/procedures/linux/wasm_linux_electron/start.rs
  namui-cli/src/procedures/linux/wasm_unknown_web/build.rs
  namui-cli/src/procedures/linux/wasm_unknown_web/start.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/build.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/start.rs
  namui-cli/src/services/mod.rs
  namui-cli/src/services/runtime_project/mod.rs
  namui-cli/src/services/runtime_project/wasm.rs
  namui-cli/src/services/rust_build_service.rs
  namui-cli/src/services/wasm_watch_build_service.rs
  namui-cli/www/main.js
  namui/Cargo.toml
  namui/sample/shader/Cargo.toml
  namui/sample/shader/src/lib.rs
  namui/sample/text-input/Cargo.toml
  namui/sample/text-input/src/lib.rs
  namui/src/namui/mod.rs
Labels: namui, namui-cli

#299 Advance network http
  image-cropper/Cargo.lock
  luda-editor/luda-editor-client/Cargo.lock
  luda-editor/luda-editor-client/src/app/types/google_spreadsheet.rs
  namui/Cargo.toml
  namui/src/namui/mod.rs
  namui/src/namui/skia/web/typeface.rs
  namui/src/namui/system/file/bundle/read.rs
  namui/src/namui/system/file/bundle/read_dir/load_bundle_metadata.rs
  namui/src/namui/system/image.rs
  namui/src/namui/system/network.rs
  namui/src/namui/system/network/http/into_url.rs
  namui/src/namui/system/network/http/mod.rs
  namui/src/namui/system/network/http/response.rs
  namui/src/namui/system/network/http/simple.rs
  namui/src/namui/system/network/mod.rs
  namui/src/namui/system/typeface/load_sans_typeface_of_all_languages.rs
  namui/src/namui/system/typeface/mod.rs
  namui/src/namui/utils/mod.rs
  namui/src/namui/utils/simple_error_impl.rs
Labels: namui

#300 Get project name from manifest
  namui-cli/src/services/runtime_project/wasm.rs
Labels: namui-cli

#301 Fix build target
  namui-cli/src/cli.rs
  namui-cli/src/procedures/linux/wasm_linux_electron/build.rs
  namui-cli/src/procedures/linux/wasm_linux_electron/start.rs
  namui-cli/src/procedures/linux/wasm_unknown_web/build.rs
  namui-cli/src/procedures/linux/wasm_unknown_web/start.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/build.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/start.rs
  namui-cli/src/services/wasm_watch_build_service.rs
Labels: namui-cli

#302 Start browser or electron after first build
  namui-cli/src/procedures/linux/wasm_linux_electron/start.rs
  namui-cli/src/procedures/linux/wasm_unknown_web/start.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/start.rs
  namui-cli/src/services/wasm_watch_build_service.rs
Labels: namui-cli

#303 Support delay
  image-cropper/Cargo.lock
  luda-editor/luda-editor-client/Cargo.lock
  namui/Cargo.toml
  namui/src/namui/common/types/time.rs
  namui/src/namui/system/time/mod.rs
Labels: namui

#304 Fix load_bundle_metadata for electron
  namui/src/namui/system/file/bundle/read_dir/load_bundle_metadata.rs
Labels: namui

#308 Disable electron sandbox
  namui-cli/electron/src/main.js
Labels: namui-cli

#307 Only prevent default on alt key
  namui/src/namui/system/keyboard.rs
Labels: namui

#309 Clear canvas before draw
  namui/src/namui/namui_context/main_loop/post_update_and_render.rs
  namui/src/namui/skia/web/canvas.rs
  namui/src/namui/skia/web/canvas_kit/canvas.rs
Labels: namui

#310 Format relative time
  namui/src/namui/common/types/time.rs
Labels: namui

#311 Hello file dialog!
  namui/Cargo.toml
  namui/src/namui/system/file/dialog/mod.rs
  namui/src/namui/system/file/mod.rs
Labels: namui

#312 Change Image::new visibility only for inside of namui crate
  namui/src/namui/skia/web/image.rs
Labels: namui
