Repository NamseEnt/namseent, pull requests merged in 2022-11, with the labels that each got.

#392 Add viewer
  luda-editor/client/src/lib.rs
  luda-editor/client/src/viewer/mod.rs
Labels: luda editor

#393 Insert new cut with Ctrl+Enter
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#400 Support download file
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/top_bar.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  namui/Cargo.toml
  namui/src/namui/system/file/download.rs
  namui/src/namui/system/file/mod.rs
Labels: luda editor, namui

#395 Move preview cut using arrow left-right
  luda-editor/client/src/components/sequence_player.rs
Labels: luda editor

#399 Open character edit modal on next to mouse cursor
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_edit_modal/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_edit_modal/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/character_cell.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#394 Start preview from cut of context menu
  luda-editor/client/src/components/sequence_player.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/client/src/viewer/mod.rs
Labels: luda editor

#396 Support line_height_percent for text parameter
  luda-editor/client/src/components/sequence_player.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_edit_modal/render/character.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/render/label_input.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/image_preview.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/label_list.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
  luda-editor/client/src/pages/sequence_list_page/rename_modal.rs
  namui/sample/multiline-text/src/lib.rs
  namui/src/namui/common/text/mod.rs
  namui/src/namui/draw/text.rs
  namui/src/namui/render/text.rs
  namui/src/namui/render/text_input/draw_caret.rs
  namui/src/namui/render/text_input/draw_texts_divided_by_selection.rs
  namui/src/namui/render/text_input/mod.rs
  namui/src/namui/system/text_input/mouse_event.rs
Labels: luda editor, namui

#401 Add text_input padding
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_edit_modal/render/character.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/render/label_input.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
  luda-editor/client/src/pages/sequence_list_page/rename_modal.rs
  namui/sample/text-input/src/lib.rs
  namui/src/namui/render/text_input/draw_caret.rs
  namui/src/namui/render/text_input/mod.rs
  namui/src/namui/system/text_input/key_down.rs
  namui/src/namui/system/text_input/mouse_event.rs
Labels: namui

#404 Copy-cut-paste cut using context_menu
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/rpc/src/data.rs
Labels: luda editor

#405 Put left-right margin for sequence edit
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/mod.rs
Labels: luda editor

#402 Advance text input
  namui/src/namui/render/text_input/mod.rs
  namui/src/namui/system/text_input/mod.rs
  namui/src/namui/system/text_input/mouse_event.rs
  namui/src/namui/system/text_input/post_render.rs
Labels: namui

#411 Add log and fix warning
  .github/workflows/namui-test-host-linux.yml
  luda-editor/server/Cargo.lock
  luda-editor/server/Cargo.toml
  luda-editor/server/src/handle/mod.rs
  luda-editor/server/src/main.rs
Labels: luda editor

#403 Keep text input select on scroll
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#410 Locate image with screen-editor
  luda-editor/client/src/components/sequence_player.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/image_preview.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_editor/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_editor/render/recent_images.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_editor/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_image_list/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/render/mover.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/render/resizer.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/screen_editor.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/rpc/src/data.rs
Labels: luda editor

#412 Migrate cut
  .github/workflows/namui-test-host-linux.yml
  image-cropper/Cargo.lock
  luda-editor/client/Cargo.lock
  luda-editor/client/src/components/sequence_player.rs
  luda-editor/migration/.gitignore
  luda-editor/migration/Cargo.toml
  luda-editor/migration/README.md
  luda-editor/migration/src/lib.rs
  luda-editor/rpc/Cargo.toml
  luda-editor/rpc/src/data.rs
  luda-editor/rpc/src/data/cut/mod.rs
  luda-editor/rpc/src/data/cut/previous/mod.rs
  luda-editor/rpc/src/data/cut/previous/v0.rs
  luda-editor/rpc/src/data/cut/v1.rs
  luda-editor/rpc/src/data/mod.rs
  luda-editor/server/Cargo.lock
  luda-editor/server/src/services/sequence/mod.rs
  namui-animation-editor/src/layer_list_window/body.rs
  namui-animation-editor/src/time_point_editor/timeline_window/playing_status.rs
  namui-type/.gitignore
  namui-type/Cargo.toml
  namui-type/src/lib.rs
  namui-type/src/types/angle.rs
  namui-type/src/types/int_px.rs
  namui-type/src/types/ltrb.rs
  namui-type/src/types/macros.rs
  namui-type/src/types/mod.rs
  namui-type/src/types/one_zero.rs
  namui-type/src/types/per.rs
  namui-type/src/types/percent.rs
  namui-type/src/types/px.rs
  namui-type/src/types/ratio.rs
  namui-type/src/types/rect.rs
  namui-type/src/types/simple_signed.rs
  namui-type/src/types/time.rs
  namui-type/src/types/time_per_px.rs
  namui-type/src/types/vector_types/macros.rs
  namui-type/src/types/vector_types/mod.rs
  namui-type/src/types/vector_types/wh.rs
  namui-type/src/types/vector_types/xy.rs
  namui/Cargo.toml
  namui/src/namui/animation/keyframe.rs
  namui/src/namui/animation/mod.rs
  namui/src/namui/common/mod.rs
  namui/src/namui/mod.rs
  namui/src/namui/render/matrix.rs
  namui/src/namui/skia/web/font.rs
Labels: luda editor

#414 Revert "Optimize and save image in jpg"
  luda-editor/client/Cargo.lock
  luda-editor/client/Cargo.toml
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/update/optimize_image.rs
  luda-editor/client/src/storage/resource_url.rs
  luda-editor/server/src/services/image/documents.rs
Labels: luda editor

#415 Upload images at once
  luda-editor/client/Cargo.lock
  luda-editor/client/Cargo.toml
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/label_list.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/update/upload_images.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_upload/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#420 Feature/image select optimization
  namui/Cargo.toml
  namui/src/namui/skia/web/canvas_kit/surface.rs
  namui/src/namui/skia/web/surface.rs
  namui/src/namui/system/image.rs
Labels: namui

#416 Cache bounding box using bincode
  namui/src/namui/draw/image.rs
  namui/src/namui/draw/path.rs
  namui/src/namui/draw/text.rs
  namui/src/namui/render/image.rs
  namui/src/namui/render/rendering_tree/bounding_box.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/skia/base/paint_builder.rs
  namui/src/namui/skia/web/font.rs
  namui/src/namui/skia/web/shader.rs
  namui/src/namui/system/file/picker/mod.rs
Labels: namui

#419 Optimize image list using list_view
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/filtered_image_list.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/update/mod.rs
Labels: luda editor

#418 Remove label sort and fix wrong label filtering
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/filtered_image_list.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/label_list.rs
Labels: luda editor

#421 Throttle and retry upload image request
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/update/upload_images.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_upload/mod.rs
  luda-editor/server/src/handle/mod.rs
Labels: luda editor

#422 Stop wheel event propagation on list view wheel
  namui-prebuilt/src/scroll_view.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/special/attach_event.rs
Labels: luda editor, namui

#424 Patch canvaskit temporally
  namui-cli/www/canvaskit-wasm/canvaskit.js
Labels: namui

#430 Fix recent images
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#428 Reset selected image
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/image_preview.rs
Labels: luda editor

#431 Move image list using arrow key
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/image_filter.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/filtered_image_list.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/update/mod.rs
  namui-prebuilt/src/list_view.rs
Labels: luda editor, namui-prebuilt

#432 Divide center text and full height
  luda-adventure/src/app/game/types/game_object/player_character/player_character.rs
  namui-animation-editor/src/image_select_window/mod.rs
  namui-prebuilt/src/button.rs
  namui-prebuilt/src/center_text.rs
  namui-prebuilt/src/typography/mod.rs
Labels: namui-prebuilt

#433 Remove logs
  namui-prebuilt/src/event_trap.rs
Labels: namui-prebuilt

#434 Put transparent default border for text_input
  namui/src/namui/render/text_input/mod.rs
Labels: namui

#437 Image manager
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_manager_modal/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_manager_modal/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_manager_modal/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/row.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/top_bar.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#438 Support callback version for rpc
  luda-editor/rpc/src/define_rpc.rs
  luda-editor/rpc/src/lib.rs
Labels: luda editor

#441 Delete image
  luda-editor/client/src/components/context_menu.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/row.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_upload/mod.rs
  luda-editor/rpc/Cargo.toml
  luda-editor/rpc/src/lib.rs
  luda-editor/rpc/src/utils.rs
  luda-editor/server/Cargo.lock
  luda-editor/server/Cargo.toml
  luda-editor/server/src/services/image/documents.rs
  luda-editor/server/src/services/image/mod.rs
  luda-editor/server/src/storage/dynamo_db/singular.rs
  luda-editor/server/src/storage/s3/mod.rs
  namui/src/namui/common/mod.rs
Labels: luda editor, namui

#443 Save and load ecs app
  .github/actions/namui-test/action.yml
  luda-adventure/.gitignore
  luda-adventure/Cargo.lock
  luda-adventure/Cargo.toml
  luda-adventure/build.rs
  luda-adventure/ecs-macro/src/lib.rs
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/map/map.rs
  luda-adventure/src/app/game/render/create_rendering_context.rs
  luda-adventure/src/app/game/render/render_guide_icon.rs
  luda-adventure/src/app/game/render/render_in_screen_object_list.rs
  luda-adventure/src/app/game/test/character_should_escape_edge_of_wall.rs
  luda-adventure/src/app/game/test/character_should_not_move_on_cross_axis_when_collide.rs
  luda-adventure/src/app/game/types/game_object/component/renderer.rs
  luda-adventure/src/app/game/types/game_object/floor.rs
  luda-adventure/src/app/game/types/game_object/mod.rs
  luda-adventure/src/app/game/types/game_object/player_character/heading.rs
  luda-adventure/src/app/game/types/game_object/player_character/player_character.rs
  luda-adventure/src/app/game/types/game_object/wall.rs
  luda-adventure/src/app/game/update/evaluate_ticks/move_character.rs
  luda-adventure/src/app/game/update/evaluate_ticks/pre_evaluate_ticks/update_positioner_interpolation.rs
  luda-adventure/src/app/game/update/evaluate_ticks/resolve_collision_about_character.rs
  luda-adventure/src/app/game/update/set_character_movement_according_to_user_input.rs
  luda-adventure/src/app/mod.rs
  luda-adventure/src/component/collider/collider.rs
  luda-adventure/src/component/collider/collision_info.rs
  luda-adventure/src/component/collider/mod.rs
  luda-adventure/src/component/collider/rigid_body/circle.rs
  luda-adventure/src/component/collider/rigid_body/collide_circle_to_polygon.rs
  luda-adventure/src/component/collider/rigid_body/collide_polygon_to_circle.rs
  luda-adventure/src/component/collider/rigid_body/mod.rs
  luda-adventure/src/component/collider/rigid_body/rigid_body.rs
  luda-adventure/src/component/mod.rs
  luda-adventure/src/component/mover.rs
  luda-adventure/src/component/player_character.rs
  luda-adventure/src/component/positioner.rs
  luda-adventure/src/component/renderer.rs
  luda-adventure/src/ecs/app/mod.rs
  luda-adventure/src/ecs/app/save/mod.rs
  luda-adventure/src/ecs/entity.rs
  luda-adventure/src/ecs/mod.rs
  luda-adventure/src/lib.rs
  namui-type/src/types/per.rs
Labels: namui, luda-adventure

#444 Drag cells
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/row.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/update/mod.rs
Labels: luda editor

#445 Recolor context menu
  luda-editor/client/src/components/context_menu.rs
Labels: luda editor

#447 Open context menu on mouse right down
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_image_list/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#446 Make canvaskit image reusable for multiple surfaces
  namui/src/namui/skia/web/canvas_kit/canvas_kit.rs
  namui/src/namui/skia/web/canvas_kit/surface.rs
  namui/src/namui/skia/web/surface.rs
  namui/src/namui/system/image.rs
Labels: namui

#451 Render with sprites
  luda-adventure/.namuibundle
  luda-adventure/asset/image/character.png
  luda-adventure/asset/image/floor.png
  luda-adventure/asset/image/wall.png
  luda-adventure/src/app/game/render/render_guide_icon.rs
  luda-adventure/src/app/game/render/render_in_screen_object_list.rs
  luda-adventure/src/app/game/types/game_object/floor.rs
  luda-adventure/src/app/game/types/game_object/player_character/player_character.rs
  luda-adventure/src/app/game/types/game_object/wall.rs
  luda-adventure/src/component/renderer.rs
  luda-adventure/src/component/renderer/mod.rs
  luda-adventure/src/component/renderer/render_type.rs
  luda-adventure/src/component/renderer/renderer.rs
  luda-adventure/src/component/renderer/sprite.rs
  luda-adventure/src/component/renderer/sprite_batch.rs
Labels: luda-adventure

#452 Move character with sprite animation
  luda-adventure/asset/image/character/character_0.png
  luda-adventure/asset/image/character/character_1.png
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/render/render_in_screen_object_list.rs
  luda-adventure/src/app/game/types/game_object/player_character/mod.rs
  luda-adventure/src/app/game/types/game_object/player_character/player_character.rs
  luda-adventure/src/app/game/types/game_object/player_character/render.rs
  luda-adventure/src/app/game/update/set_character_movement_according_to_user_input.rs
  luda-adventure/src/component/renderer/minimum_visual_rect_containing_sprites.rs
  luda-adventure/src/component/renderer/mod.rs
  luda-adventure/src/component/renderer/render_type.rs
  luda-adventure/src/component/renderer/renderer.rs
  luda-adventure/src/component/renderer/sprite_animation.rs
  luda-adventure/src/component/renderer/sprite_batch.rs
Labels: luda-adventure

#453 Draw guide arrow from character to quest entity
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/render/mod.rs
  luda-adventure/src/app/game/render/render_guide_icon.rs
  luda-adventure/src/app/game/render/render_quest_guide/mod.rs
  luda-adventure/src/app/game/render/render_quest_guide/render_guide_arrow.rs
  luda-adventure/src/app/game/render/render_quest_guide/render_guide_icon.rs
  luda-adventure/src/app/game/render/render_quest_guide/render_quest_guide.rs
  luda-adventure/src/app/game/types/game_state/quest/quest_state.rs
Labels: luda-adventure

#455 Keep handle mouse over for context_menu
  luda-editor/client/src/components/context_menu.rs
Labels: luda editor

#457 Support on_text_updated for text_input event handler
  namui/src/namui/render/text_input/mod.rs
  namui/src/namui/system/text_input/mod.rs
Labels: namui

#458 Hello vh_list_view!
  namui-prebuilt/src/lib.rs
  namui-prebuilt/src/vh_list_view.rs
Labels: namui-prebuilt

#459 Chain update method using Event::is() to support return
  image-cropper/src/app/app.rs
  image-cropper/src/app/cropper/canvas/canvas.rs
  image-cropper/src/app/cropper/canvas/tool.rs
  image-cropper/src/app/cropper/cropper.rs
  image-cropper/src/app/file_selector/file_selector.rs
  image-cropper/src/app/router/router.rs
  luda-adventure/src/app/app.rs
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/update/set_character_movement_according_to_user_input.rs
  luda-editor/client/src/app/login.rs
  luda-editor/client/src/app/mod.rs
  luda-editor/client/src/components/context_menu.rs
  luda-editor/client/src/components/sequence_player.rs
  luda-editor/client/src/pages/project_list_page/mod.rs
  luda-editor/client/src/pages/router.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_edit_modal/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_browser/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_manager_modal/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/property_editor/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_editor/update.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/timeline/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/render/cropper.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/mod.rs
  luda-editor/client/src/pages/sequence_list_page/context_menu.rs
  luda-editor/client/src/pages/sequence_list_page/mod.rs
  luda-editor/client/src/pages/sequence_list_page/rename_modal.rs
  luda-editor/client/src/viewer/mod.rs
  luda-editor/rpc/src/define_rpc.rs
  namui-animation-editor/sample/src/lib.rs
  namui-animation-editor/src/animation_editor.rs
  namui-animation-editor/src/dial_counter/mod.rs
  namui-animation-editor/src/image_select_window/mod.rs
  namui-animation-editor/src/layer_list_window/body.rs
  namui-animation-editor/src/layer_list_window/header.rs
  namui-animation-editor/src/layer_list_window/mod.rs
  namui-animation-editor/src/time_point_editor/line_edit_window/update/mod.rs
  namui-animation-editor/src/time_point_editor/mod.rs
  namui-animation-editor/src/time_point_editor/timeline_window/update.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/update/mod.rs
  namui-prebuilt/src/dropdown/mod.rs
  namui-prebuilt/src/list_view.rs
  namui-prebuilt/src/scroll_view.rs
  namui/sample/image-load-background/src/lib.rs
  namui/sample/multiline-text/src/lib.rs
  namui/sample/rect/src/lib.rs
  namui/sample/shader/src/lib.rs
  namui/sample/text-input/src/lib.rs
  namui/src/namui/event/mod.rs
  namui/src/namui/mod.rs
  namui/src/namui/namui_context/main_loop/mod.rs
  namui/src/namui/namui_context/main_loop/post_update_and_render.rs
  namui/src/namui/namui_context/main_loop/pre_update_and_render.rs
  namui/src/namui/render/special/react.rs
Labels: namui

#456 Hello sheet
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/header_row.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/render/row.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_table/update/mod.rs
  namui-prebuilt/src/lib.rs
  namui-prebuilt/src/sheet/cell/border.rs
  namui-prebuilt/src/sheet/cell/clipboard_item.rs
  namui-prebuilt/src/sheet/cell/empty_cell.rs
  namui-prebuilt/src/sheet/cell/image_cell.rs
  namui-prebuilt/src/sheet/cell/mod.rs
  namui-prebuilt/src/sheet/cell/text_cell.rs
  namui-prebuilt/src/sheet/mod.rs
  namui-prebuilt/src/sheet/render/mod.rs
  namui-prebuilt/src/sheet/update/mod.rs
  namui-prebuilt/src/typography/mod.rs
  namui/src/namui/mod.rs
Labels: luda editor, namui, namui-prebuilt

#463 Blur list_list text_input after esc
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#464 Add arrow sign for 'Insert Cut'
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
Labels: luda editor

#466 Copy issue info to clipboard
  .github/ISSUE_TEMPLATE/image-request.yml
  luda-editor/client/src/pages/sequence_edit_page/loaded/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/copy_issue_info.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/update/mod.rs
  namui/src/namui/system/clipboard/mod.rs
  namui/src/namui/system/mod.rs
Labels: luda editor, namui

#467 Render grid guide for wysiwyg editor
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/render/mod.rs
Labels: luda editor
