Repository NamseEnt/namseent, pull requests merged in 2023-06, with the labels that each got.

#546 Hello audio!
  namui/Cargo.toml
  namui/sample/audio/.cargo/config.toml
  namui/sample/audio/.gitignore
  namui/sample/audio/.namuibundle
  namui/sample/audio/Cargo.lock
  namui/sample/audio/Cargo.toml
  namui/sample/audio/resources/audio.mp3
  namui/sample/audio/src/lib.rs
  namui/src/namui/common/mod.rs
  namui/src/namui/common/url.rs
  namui/src/namui/mod.rs
  namui/src/namui/system/audio.rs
  namui/src/namui/system/image.rs
  namui/src/namui/system/mod.rs
Labels: namui

#551 Enable keepalive in luda editor server
  luda-editor/server/server-core/src/lib.rs
Labels: luda editor

#549 Hide always-on cg parts on cg picker
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_editor/render/part_picker.rs
Labels: luda editor

#553 Support query pagination
  .github/workflows/namui-test-host-linux.yml
  luda-editor/server/document-macro/src/lib.rs
  luda-editor/server/run_test.sh
  luda-editor/server/server-bin/Cargo.lock
  luda-editor/server/server-core/Cargo.lock
  luda-editor/server/server-core/Cargo.toml
  luda-editor/server/server-core/src/lib.rs
  luda-editor/server/server-core/src/services/cg/mod.rs
  luda-editor/server/server-core/src/services/image/mod.rs
  luda-editor/server/server-core/src/services/memo/mod.rs
  luda-editor/server/server-core/src/services/project/mod.rs
  luda-editor/server/server-core/src/services/sequence/mod.rs
  luda-editor/server/server-core/src/storage/dynamo_db/singular.rs
  luda-editor/server/server-dev-cli/Cargo.lock
Labels: luda editor

#548 Fix cg part priority
  luda-editor/client/src/components/sequence_player.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_editor/render/part_picker.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/render/mod.rs
  luda-editor/rpc/src/data/mod.rs
Labels: luda editor

#558 Set Wasm-pack 0.11.1
  .github/actions/init-test-job/action.yml
  docker-images/namui-test-host/linux.Dockerfile
Labels: namui-cli
