Repository NamseEnt/namseent, pull requests merged in 2023-04, with the labels that each got.

#532 Complete arg of namui cli automatically
  namui-cli/Cargo.lock
  namui-cli/Cargo.toml
  namui-cli/build.rs
  namui-cli/scripts/install.sh
  namui-cli/scripts/uninstall.sh
  namui-cli/src/cli.rs
  namui-cli/src/main.rs
  namui-cli/src/services/electron_package_service.rs
Labels: namui-cli

#534 Clip bounding box with transformed
  namui/src/namui/render/rendering_tree/bounding_box.rs
Labels: namui

#535 Separate presigned url code
  luda-editor/server/server-core/src/services/image/documents.rs
  luda-editor/server/server-core/src/storage/s3/mod.rs
  luda-editor/server/server-core/src/storage/s3/presigned_url.rs
Labels: luda editor

#537 Move uuid hasing to namui-type
  image-cropper/Cargo.lock
  luda-adventure/Cargo.lock
  luda-editor/client/Cargo.lock
  luda-editor/server/server-core/Cargo.lock
  namui-type/Cargo.toml
  namui-type/README.md
  namui-type/src/types/mod.rs
  namui-type/src/types/uuid.rs
  namui/Cargo.toml
  namui/src/namui/common/file.rs
  namui/src/namui/mod.rs
  namui/src/namui/random/mod.rs
  namui/src/namui/random/uuid.rs
  namui/src/namui/skia/base/paint_builder.rs
  namui/src/namui/skia/web/shader.rs
Labels: namui
