Repository NamseEnt/namseent, pull requests merged in 2023-07, with the labels that each got.

#563 Use proc-macro for rpc
  cargo-metadata-all.py
  luda-editor/client/Cargo.lock
  luda-editor/rpc/Cargo.lock
  luda-editor/rpc/Cargo.toml
  luda-editor/rpc/rpc-macro/.gitignore
  luda-editor/rpc/rpc-macro/Cargo.lock
  luda-editor/rpc/rpc-macro/Cargo.toml
  luda-editor/rpc/rpc-macro/src/lib.rs
  luda-editor/rpc/src/define_rpc.rs
  luda-editor/rpc/src/lib.rs
  luda-editor/server/server-bin/Cargo.lock
  luda-editor/server/server-core/Cargo.lock
  luda-editor/server/server-dev-cli/Cargo.lock
Labels: luda editor

#559 Delete image cropper
  .github/workflows/namui-test-host-linux.yml
  image-cropper/.cargo/config.toml
  image-cropper/.gitignore
  image-cropper/Cargo.lock
  image-cropper/Cargo.toml
  image-cropper/src/app/app.rs
  image-cropper/src/app/cropper/canvas/canvas.rs
  image-cropper/src/app/cropper/canvas/event.rs
  image-cropper/src/app/cropper/canvas/mod.rs
  image-cropper/src/app/cropper/canvas/tool.rs
  image-cropper/src/app/cropper/cropper.rs
  image-cropper/src/app/cropper/event.rs
  image-cropper/src/app/cropper/job/job.rs
  image-cropper/src/app/cropper/job/mod.rs
  image-cropper/src/app/cropper/job/poly_selection_create.rs
  image-cropper/src/app/cropper/job/rect_selection_create.rs
  image-cropper/src/app/cropper/job/rect_selection_resize.rs
  image-cropper/src/app/cropper/mod.rs
  image-cropper/src/app/cropper/render_app_bar.rs
  image-cropper/src/app/cropper/render_back_button.rs
  image-cropper/src/app/cropper/render_save_button.rs
  image-cropper/src/app/cropper/save_image/create_element.rs
  image-cropper/src/app/cropper/save_image/get_png_encoded_u8_from_canvas.rs
  image-cropper/src/app/cropper/save_image/image_zipper.rs
  image-cropper/src/app/cropper/save_image/mod.rs
  image-cropper/src/app/cropper/save_image/save_image.rs
  image-cropper/src/app/cropper/selection/event.rs
  image-cropper/src/app/cropper/selection/mod.rs
  image-cropper/src/app/cropper/selection/poly_selection.rs
  image-cropper/src/app/cropper/selection/rect_selection.rs
  image-cropper/src/app/cropper/selection/selection.rs
  image-cropper/src/app/file_selector/event.rs
  image-cropper/src/app/file_selector/file_selector.rs
  image-cropper/src/app/file_selector/mod.rs
  image-cropper/src/app/file_selector/render_file_select_dialog_open_button.rs
  image-cropper/src/app/main.rs
  image-cropper/src/app/mod.rs
  image-cropper/src/app/router/event.rs
  image-cropper/src/app/router/mod.rs
  image-cropper/src/app/router/page.rs
  image-cropper/src/app/router/router.rs
  image-cropper/src/app/util/alert.rs
  image-cropper/src/app/util/mod.rs
  image-cropper/src/lib.rs
Labels: image-cropper

#569 Add rust-helper extension
  .github/workflows/publish-extension.yml
  extension/.gitignore
  extension/.vscode/extensions.json
  extension/.vscode/launch.json
  extension/.vscode/settings.json
  extension/.vscode/tasks.json
  extension/LICENSE
  extension/README.md
  extension/in_rust/.gitignore
  extension/in_rust/Cargo.lock
  extension/in_rust/Cargo.toml
  extension/in_rust/build.sh
  extension/in_rust/src/lib.rs
  extension/in_rust/src/test.rs
  extension/package-lock.json
  extension/package.json
  extension/src/extension.ts
  extension/tsconfig.json
Labels: extension

#571 Remove unused code for extension
  extension/src/extension.ts
Labels: extension

#574 Update makeShaderWithChildren function of canvaskit
  namui/src/namui/skia/web/canvas_kit/runtime_effect.rs
  namui/src/namui/skia/web/runtime_effect.rs
Labels: namui

#572 Enable setBlendMode function of Paint
  namui/src/namui/skia/base/paint_builder.rs
  namui/src/namui/skia/web/canvas_kit/paint.rs
  namui/src/namui/skia/web/paint.rs
Labels: namui

#573 Expose image default shader
  namui/src/namui/skia/web/image.rs
Labels: namui

#575 Extension 0.0.2 - Component code snippet
  .github/workflows/publish-extension.yml
  extension/README.md
  extension/package-lock.json
  extension/package.json
  extension/snippets.code-snippets
Labels: extension

#579 Run publish-extension on create tag
  .github/workflows/publish-extension.yml
Labels: extension

#588 Add quick fix action wrapping code in block
  extension/README.md
  extension/in_rust/src/lib.rs
  extension/in_rust/src/wrap_code_with_block.rs
  extension/package.json
  extension/src/extension.ts
Labels: extension
