Repository NamseEnt/namseent, pull requests merged in 2023-08, with the labels that each got.

#589 Split up rendering_tree/mod
  namui/src/namui/common/mod.rs
  namui/src/namui/hooks/instance.rs
  namui/src/namui/hooks/tree/ctx.rs
  namui/src/namui/hooks/tree/render_ctx.rs
  namui/src/namui/mod.rs
  namui/src/namui/render/rendering_tree/call_event.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/system/keyboard.rs
  namui/src/namui/system/web/event.rs
  namui/src/namui/system/web/mod.rs
Labels: namui

#602 Optimize complete_put_psd with rayon
  luda-editor/server/server-bin/Cargo.lock
  luda-editor/server/server-core/Cargo.lock
  luda-editor/server/server-core/Cargo.toml
  luda-editor/server/server-core/src/services/cg/layer_tree.rs
  luda-editor/server/server-core/src/services/cg/psd_to_cg_file.rs
  luda-editor/server/server-dev-cli/Cargo.lock
Labels: luda editor

#610 Strip whitespace of ignored project paths
  cargo-check-and-fmt-all.py
  cargo-clean-all.py
  cargo-clean-check-fmt-all.py
  cargo-fix-fmt-all.py
  cargo-metadata-all.py
  cargo-update-all.py
Labels: bug

#613 Fix wrong block_on usage in namui-cli
  namui-cli/src/main.rs
  namui-cli/src/procedures/build/mod.rs
  namui-cli/src/procedures/linux/wasm_linux_electron/build.rs
  namui-cli/src/procedures/linux/wasm_unknown_web/build.rs
  namui-cli/src/procedures/linux/wasm_windows_electron/build.rs
  namui-cli/src/services/electron_build_service.rs
  namui-cli/src/services/wasm_watch_build_service.rs
  namui-cli/src/services/wasm_web_runtime_watch_build_service.rs
Labels: namui-cli

#615 Collect drawer into build artifact
  namui-cli/src/procedures/linux/wasm_unknown_web/build.rs
  namui-cli/src/services/drawer_watch_build_service.rs
  namui-cli/src/services/resource_collect_service.rs
Labels: namui-cli

#612 Check tag exists with deep checkout
  .github/workflows/publish-extension.yml
Labels: extension

#618 Change mouse pointer for text_input
  namui/src/namui/render/text_input/mod.rs
Labels: enhancement, namui

#617 Implement notification system
  luda-editor/client/src/app/mod.rs
  luda-editor/client/src/app/notification/components/close_button.rs
  luda-editor/client/src/app/notification/components/mod.rs
  luda-editor/client/src/app/notification/components/notification_indicator.rs
  luda-editor/client/src/app/notification/components/notification_root.rs
  luda-editor/client/src/app/notification/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_editor/background_with_event.rs
Labels: luda editor

#619 Show build sign on screen during build
  namui-cli/src/services/drawer_watch_build_service.rs
  namui-cli/src/services/wasm_bundle_web_server.rs
  namui-cli/src/services/wasm_watch_build_service.rs
  namui-cli/src/services/wasm_web_runtime_watch_build_service.rs
  namui-cli/src/types.rs
  namui-cli/webCode/src/hotReload.ts
Labels: enhancement, namui-cli
