Repository NamseEnt/namseent, pull requests merged in 2023-02, with the labels that each got.

#490 Try fetch font from cache first
  namui/src/namui/system/typeface/load_sans_typeface_of_all_languages.rs
Labels: namui

#491 Create game menu
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/map/map_loader.rs
  luda-adventure/src/app/game/menu/event.rs
  luda-adventure/src/app/game/menu/menu.rs
  luda-adventure/src/app/game/menu/mod.rs
  luda-adventure/src/app/game/menu/render/mod.rs
  luda-adventure/src/app/game/menu/render/render_in_game_menu.rs
  luda-adventure/src/app/game/menu/render/render_start_menu.rs
  luda-adventure/src/app/game/mod.rs
Labels: luda-adventure

#492 Load all images on start
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/image_loader.rs
  luda-adventure/src/app/game/mod.rs
Labels: luda-adventure

#493 Remove id for dropdown item for easy callback
  namui-animation-editor/src/time_point_editor/line_edit_window/render/mod.rs
  namui-prebuilt/src/dropdown/mod.rs
  namui/sample/shader/src/lib.rs
Labels: namui-prebuilt

#494 Wh.to_rect()
  namui-type/src/types/vector_types/wh.rs
Labels: namui

#495 Split server to core, dev-cli, bin
  .github/workflows/deploy-luda-editor.yml
  .github/workflows/namui-test-host-linux.yml
  luda-editor/cdk/lib/cdk-stack.ts
  luda-editor/server/.gitignore
  luda-editor/server/build-lambda.sh
  luda-editor/server/server-bin/.gitignore
  luda-editor/server/server-bin/Cargo.toml
  luda-editor/server/server-bin/src/main.rs
  luda-editor/server/server-core/.gitignore
  luda-editor/server/server-core/Cargo.lock
  luda-editor/server/server-core/Cargo.toml
  luda-editor/server/server-core/src/handle/mod.rs
  luda-editor/server/server-core/src/handle/serve_s3.rs
  luda-editor/server/server-core/src/lib.rs
  luda-editor/server/server-core/src/services/auth/documents/mod.rs
  luda-editor/server/server-core/src/services/auth/documents/user/mod.rs
  luda-editor/server/server-core/src/services/auth/documents/user/previous/mod.rs
  luda-editor/server/server-core/src/services/auth/documents/user/previous/v0.rs
  luda-editor/server/server-core/src/services/auth/documents/user/v1.rs
  luda-editor/server/server-core/src/services/auth/get_or_create_user.rs
  luda-editor/server/server-core/src/services/auth/impls.rs
  luda-editor/server/server-core/src/services/auth/mod.rs
  luda-editor/server/server-core/src/services/auth/user_identity.rs
  luda-editor/server/server-core/src/services/image/documents.rs
  luda-editor/server/server-core/src/services/image/mod.rs
  luda-editor/server/server-core/src/services/mod.rs
  luda-editor/server/server-core/src/services/project/documents.rs
  luda-editor/server/server-core/src/services/project/impls.rs
  luda-editor/server/server-core/src/services/project/mod.rs
  luda-editor/server/server-core/src/services/sequence/documents.rs
  luda-editor/server/server-core/src/services/sequence/mod.rs
  luda-editor/server/server-core/src/session/mod.rs
  luda-editor/server/server-core/src/storage/dynamo_db/mod.rs
  luda-editor/server/server-core/src/storage/dynamo_db/singular.rs
  luda-editor/server/server-core/src/storage/dynamo_db/transact.rs
  luda-editor/server/server-core/src/storage/mod.rs
  luda-editor/server/server-core/src/storage/s3/mod.rs
  luda-editor/server/server-core/src/utils/mod.rs
  luda-editor/server/server-dev-cli/.gitignore
  luda-editor/server/server-dev-cli/Cargo.toml
  luda-editor/server/server-dev-cli/README.md
  luda-editor/server/server-dev-cli/src/main.rs
  luda-editor/server/update-lambda.sh
Labels: luda editor

#497 Fix wrong server-bin path for CI
  .github/workflows/deploy-luda-editor.yml
  luda-editor/cdk/lib/cdk-stack.ts
Labels: bug, luda editor

#498 Add underline
  namui/src/namui/draw/text.rs
  namui/src/namui/render/text.rs
  namui/src/namui/render/text_input/draw_texts_divided_by_selection.rs
  namui/src/namui/render/text_input/mod.rs
  namui/src/namui/skia/types.rs
  namui/src/namui/skia/web/canvas.rs
  namui/src/namui/skia/web/canvas_kit/canvas.rs
Labels: namui

#499 Hello quick!
  quick/.cargo/config.toml
  quick/.gitignore
  quick/Cargo.toml
  quick/sample/tui/.cargo/config.toml
  quick/sample/tui/.gitignore
  quick/sample/tui/Cargo.toml
  quick/sample/tui/rustfmt.toml
  quick/sample/tui/src/lib.rs
  quick/src/block/mod.rs
  quick/src/block/row_block.rs
  quick/src/color.rs
  quick/src/consts.rs
  quick/src/group.rs
  quick/src/lib.rs
  quick/src/line.rs
  quick/src/link.rs
  quick/src/typography.rs
Labels: quick

#500 Add namui sample for `Tab to next text input sample`
  namui/sample/tab-to-next-text-input/.cargo/config.toml
  namui/sample/tab-to-next-text-input/.gitignore
  namui/sample/tab-to-next-text-input/Cargo.toml
  namui/sample/tab-to-next-text-input/src/lib.rs
Labels: namui

#501 Keep use Arc<Paint> as possible
  namui/src/namui/common/text/glyph_group.rs
  namui/src/namui/common/text/line_texts.rs
  namui/src/namui/common/text/measure_glyphs.rs
  namui/src/namui/common/text/mod.rs
  namui/src/namui/common/text/multiline_caret.rs
  namui/src/namui/common/text/text_width.rs
  namui/src/namui/draw/text.rs
  namui/src/namui/render/text.rs
  namui/src/namui/render/text_input/draw_caret.rs
  namui/src/namui/render/text_input/draw_texts_divided_by_selection.rs
  namui/src/namui/render/text_input/mod.rs
  namui/src/namui/skia/base/paint_builder.rs
  namui/src/namui/skia/web/font.rs
  namui/src/namui/skia/web/paint.rs
  namui/src/namui/system/text_input/key_down.rs
  namui/src/namui/system/text_input/mouse_event.rs
Labels: namui

#502 Change db update with macro
  luda-editor/server/document-macro/src/lib.rs
  luda-editor/server/server-core/src/lib.rs
  luda-editor/server/server-core/src/services/project/mod.rs
  luda-editor/server/server-core/src/services/sequence/mod.rs
  luda-editor/server/server-core/src/storage/dynamo_db/singular.rs
  luda-editor/server/server-core/src/storage/dynamo_db/transact.rs
Labels: luda editor

#503 Fix wrong line print on log
  luda-editor/server/server-core/src/lib.rs
Labels: luda editor

#504 Route with hash
  luda-editor/client/Cargo.lock
  luda-editor/client/Cargo.toml
  luda-editor/client/src/app/mod.rs
  luda-editor/client/src/pages/project_list_page/mod.rs
  luda-editor/client/src/pages/router.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/top_bar.rs
  luda-editor/client/src/pages/sequence_list_page/mod.rs
Labels: luda editor

#506 Trap keydown event in text_input
  namui/src/namui/system/keyboard.rs
  namui/src/namui/system/text_input/mod.rs
Labels: namui

#507 Pass rustflags to test, not default setting
  namui-cli/src/procedures/linux/wasm_unknown_web/test.rs
Labels: namui-cli

#508 Save and load game automatically
  luda-adventure/src/app/game/game.rs
  luda-adventure/src/app/game/image_loader.rs
  luda-adventure/src/app/game/map/map_loader.rs
  luda-adventure/src/app/game/menu/event.rs
  luda-adventure/src/app/game/menu/menu.rs
  luda-adventure/src/app/game/menu/mod.rs
  luda-adventure/src/app/game/menu/render/render_in_game_menu.rs
  luda-adventure/src/app/game/menu/render/render_start_menu.rs
  luda-adventure/src/app/game/mod.rs
  luda-adventure/src/app/game/save_load.rs
  luda-adventure/src/app/game/types/game_state/camera_state.rs
  luda-adventure/src/app/game/types/game_state/game_state.rs
  luda-adventure/src/app/game/types/game_state/quest/quest_state.rs
  luda-adventure/src/app/game/types/game_state/tick_state.rs
  luda-adventure/src/app/game/update/set_character_movement_according_to_user_input.rs
Labels: luda-adventure

#509 Easy way to call [shift, ctrl, alt]_press()
  namui/src/namui/system/keyboard.rs
Labels: namui

#510 Prevent prevent_default for devtool or refresh
  namui/src/namui/system/keyboard.rs
Labels: namui

#511 Support drop the file
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_upload/mod.rs
  namui/Cargo.toml
  namui/src/namui/common/file.rs
  namui/src/namui/common/mod.rs
  namui/src/namui/event/mod.rs
  namui/src/namui/namui_context/main_loop/post_update_and_render.rs
  namui/src/namui/namui_context/main_loop/pre_update_and_render.rs
  namui/src/namui/render/image.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/special/attach_event.rs
  namui/src/namui/system/drag_and_drop/mod.rs
  namui/src/namui/system/file/picker/mod.rs
  namui/src/namui/system/image.rs
  namui/src/namui/system/mod.rs
Labels: namui

#512 Call mouse event directly without event queue
  image-cropper/src/app/cropper/canvas/canvas.rs
  image-cropper/src/app/cropper/canvas/event.rs
  image-cropper/src/app/cropper/canvas/tool.rs
  image-cropper/src/app/cropper/cropper.rs
  image-cropper/src/app/cropper/event.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/wysiwyg_editor/update/mod.rs
  namui-animation-editor/src/time_point_editor/timeline_window/mod.rs
  namui-animation-editor/src/time_point_editor/timeline_window/render/mod.rs
  namui-animation-editor/src/time_point_editor/timeline_window/render/selected_layer_timeline/keyframes.rs
  namui-animation-editor/src/time_point_editor/timeline_window/render/selected_layer_timeline/mod.rs
  namui-animation-editor/src/time_point_editor/timeline_window/update.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/mod.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/render/layer/editing_tool/moving.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/render/layer/editing_tool/resize.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/render/layer/editing_tool/rotate.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/render/mod.rs
  namui-animation-editor/src/time_point_editor/wysiwyg_window/update/mod.rs
  namui-prebuilt/src/event_trap.rs
  namui-prebuilt/src/scroll_view.rs
  namui/src/namui/event/mod.rs
  namui/src/namui/namui_context/main_loop/post_update_and_render.rs
  namui/src/namui/namui_context/main_loop/pre_update_and_render.rs
  namui/src/namui/namui_context/mod.rs
  namui/src/namui/render/rendering_tree/mod.rs
  namui/src/namui/render/special/attach_event.rs
  namui/src/namui/system/mouse.rs
  namui/src/namui/system/mouse/event.rs
  namui/src/namui/system/mouse/mod.rs
  namui/src/namui/system/mouse/post_render.rs
  namui/src/namui/system/text_input/mod.rs
  namui/src/namui/system/text_input/mouse_event.rs
Labels: namui

#515 Destory luda editor when branch destroyed
  .github/workflows/destory-luda-editor.yml
Labels: luda editor

#513 Read images from clipboard
  namui/src/namui/system/clipboard/mod.rs
  namui/src/namui/system/image.rs
Labels: namui

#517 Destroy dynamo for not-master branch
  luda-editor/cdk/lib/cdk-stack.ts
Labels: luda editor

#516 Fix wrong luda-editor destory script
  .github/workflows/destory-luda-editor.yml
Labels: luda editor
