Repository NamseEnt/namseent, pull requests merged in 2023-09, with the labels that each got.

#625 Fix DeleteGraphic action to keep graphic order
  luda-editor/rpc/src/data/cut_update_action.rs
Labels: bug, luda editor

#626 Render screen graphics with key
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/graphic_clip.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
  namui/src/namui/hooks/key.rs
Labels: bug, luda editor

#627 No linebreak for server logs
  luda-editor/server/server-core/src/handle/mod.rs
  luda-editor/server/server-core/src/session/mod.rs
  luda-editor/server/server-core/src/storage/dynamo_db/singular.rs
  luda-editor/server/server-core/src/storage/dynamo_db/transact.rs
Labels: luda editor

#628 Update partition and sort key
  luda-editor/cdk/lib/cdk-stack.ts
Labels: luda editor

#633 Fix blinking during screen resize
  namui-cli/webCode/src/worker.ts
  skia/canvas-kit-wasm-bindgen/src/canvas_kit.rs
  skia/skia/src/canvas_kit/surface.rs
Labels: namui

#634 Fix sequence rename modal rendering order
  luda-editor/client/src/pages/sequence_list_page/rename_modal.rs
Labels: bug, luda editor

#640 Add undo-redo, Fix wrong index calculation
  luda-editor/client/src/pages/sequence_edit_page/components/cut_editor/background_with_event.rs
  luda-editor/server/server-core/src/services/sequence/documents.rs
  luda-editor/server/server-core/src/services/sequence/mod.rs
Labels: luda editor

#646 Key binding - ctrl+c, del
  luda-editor/client/Cargo.lock
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/graphic_clip.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/wysiwyg_tool.rs
  luda-editor/rpc/Cargo.lock
  namui-cli/webCode/src/main/main.ts
  namui-cli/webCode/src/worker.ts
  namui-drawer/Cargo.lock
  namui-drawer/Cargo.toml
  namui-drawer/src/lib.rs
  namui-drawer/src/load_image.rs
  namui-prebuilt/Cargo.lock
  namui/Cargo.lock
  namui/sample/image-load-background/Cargo.lock
  skia/canvas-kit-wasm-bindgen/src/image.rs
  skia/skia/Cargo.lock
  skia/skia/Cargo.toml
  skia/skia/src/canvas_kit/ck_skia.rs
  skia/skia/src/canvas_kit/image.rs
  skia/skia/src/traits.rs
Labels: luda editor, namui

#651 For all projects
  .github/actions/build-for-all-projects/action.yml
  .github/actions/cargo-test/action.yml
  .github/actions/init-test-job/action.yml
  .github/actions/namui-test/action.yml
  .github/workflows/all.yml
  .github/workflows/cargo-metadata-all.yml
  .github/workflows/namui-test-host-linux.yml
  .github/workflows/publish-for-all-projects.yml
  .ignored_projects
  .projectsignore
  for-all-projects/.gitignore
  for-all-projects/Cargo.toml
  for-all-projects/build.rs
  for-all-projects/src/cli.rs
  for-all-projects/src/find_cargo_project_dirs.rs
  for-all-projects/src/main.rs
  for-all-projects/src/run_commands.rs
  luda-adventure/Cargo.toml
  luda-editor/client/Cargo.toml
  luda-editor/server/server-core/Cargo.toml
  namui-cli/src/util/get_cli_root_path.rs
  namui-drawer/Cargo.toml
  namui-prebuilt/Cargo.toml
  namui-type/src/types/render/rendering_tree/special/on_top.rs
  namui/Cargo.toml
  namui/sample/audio/Cargo.lock
  namui/sample/audio/Cargo.toml
  namui/sample/hooks-v2/Cargo.lock
  namui/sample/hooks-v2/Cargo.toml
  namui/sample/hooks/Cargo.lock
  namui/sample/hooks/Cargo.toml
  namui/sample/hooks/closure-macro/Cargo.toml
  namui/sample/image-load-background/Cargo.toml
  namui/sample/multiline-text/Cargo.lock
  namui/sample/multiline-text/Cargo.toml
  namui/sample/rect/Cargo.lock
  namui/sample/rect/Cargo.toml
  namui/sample/shader/Cargo.lock
  namui/sample/shader/Cargo.toml
  namui/sample/tab-to-next-text-input/Cargo.lock
  namui/sample/tab-to-next-text-input/Cargo.toml
  namui/sample/text-input/Cargo.lock
  namui/sample/text-input/Cargo.toml
  namui/sample/type_macro/Cargo.lock
  namui/sample/type_macro/Cargo.toml
  namui/shader-macro/src/lib.rs
  namui/src/namui/render/rect.rs
  quick/Cargo.toml
  quick/sample/tui/Cargo.lock
  quick/sample/tui/Cargo.toml
  skia/canvas-kit-wasm-bindgen/Cargo.toml
  skia/skia/Cargo.lock
  skia/skia/Cargo.toml
Labels: github-actions, for-all-projects

#664 Keep Cargo.lock updated
  .github/actions/build-for-all-projects/action.yml
  .github/workflows/all.yml
  .github/workflows/cargo-lock-update.yml
  .github/workflows/deploy-luda-editor.yml
  .github/workflows/publish-for-all-projects.yml
  extension/in_rust/.gitignore
  for-all-projects/.gitignore
  for-all-projects/Cargo.lock
  for-all-projects/Cargo.toml
  luda-adventure/Cargo.lock
  luda-adventure/ecs-macro/.gitignore
  luda-editor/migration/.gitignore
  luda-editor/migration/migration-macro/.gitignore
  luda-editor/psd/.gitignore
  luda-editor/psd/Cargo.lock
  luda-editor/revert-json-patch/.gitignore
  luda-editor/rpc/.gitignore
  luda-editor/rpc/rpc-macro/.gitignore
  luda-editor/rpc/rpc-parser/.gitignore
  luda-editor/server/document-macro/.gitignore
  luda-editor/server/server-bin/.gitignore
  luda-editor/server/server-core/.gitignore
  luda-editor/server/server-dev-cli/.gitignore
  namui-cfg/.gitignore
  namui-drawer/.gitignore
  namui-prebuilt/.gitignore
  namui-type/.gitignore
  namui-type/derive-macro/.gitignore
  namui-user-config/.gitignore
  namui/.gitignore
  namui/hooks-macro/.gitignore
  namui/shader-macro/.gitignore
  quick/.gitignore
  quick/Cargo.lock
  skia/canvas-kit-wasm-bindgen/.gitignore
  skia/skia/.gitignore
Labels: github-actions

#663 Inspect with Html, chrome dev tool
  .github/workflows/cargo-lock-update.yml
  for-all-projects/Cargo.lock
  luda-editor/client/Cargo.lock
  luda-editor/rpc/Cargo.lock
  namui-cli/webCode/package-lock.json
  namui-cli/webCode/package.json
  namui-cli/webCode/src/inspect/inspect.tsx
  namui-cli/webCode/src/main/main.ts
  namui-cli/webCode/tsconfig.json
  namui-prebuilt/Cargo.lock
  namui/Cargo.lock
  namui/Cargo.toml
  namui/src/namui/hooks/component.rs
  namui/src/namui/hooks/ctx/render_ctx/mod.rs
  namui/src/namui/hooks/ctx/render_ctx/public.rs
  namui/src/namui/hooks/ctx/tree_ctx.rs
  namui/src/namui/hooks/instance/inspect.rs
  namui/src/namui/hooks/instance/mod.rs
  namui/src/namui/system/mouse/event.rs
  namui/src/namui/system/platform_utils/web.rs
Labels: namui

#665 Use pat to trigger workflow
  for-all-projects/Cargo.lock
  for-all-projects/Cargo.toml
Labels: github-actions

#667 Block mouse event on text box background
  luda-editor/client/src/components/sequence_player.rs
Labels: enhancement, luda editor

#668 Divide clippy and clippy-fix
  .github/workflows/all.yml
  extension/in_rust/src/wrap_code_with_block.rs
  for-all-projects/Cargo.lock
  for-all-projects/Cargo.toml
  for-all-projects/build.rs
  for-all-projects/src/cli.rs
  for-all-projects/src/run_commands.rs
  namui-drawer/src/lib.rs
Labels: github-actions, for-all-projects

#670 Change cut order with dragging
  luda-adventure/Cargo.lock
  luda-editor/client/src/pages/project_list_page/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_list_view/cut_cell.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/sequence/mod.rs
  luda-editor/client/src/pages/sequence_list_page/mod.rs
  luda-editor/rpc/src/data/sequence_update_action.rs
  luda-editor/server/server-core/src/apis/sequence/update_sequence.rs
  namui-prebuilt/src/dropdown/mod.rs
  namui-prebuilt/src/list_view.rs
  namui-type/src/types/render/rendering_tree/special/mouse_cursor.rs
  quick/Cargo.lock
Labels: enhancement, luda editor, namui, namui-prebuilt

#666 Add image picker to add uploaded image to cut
  luda-editor/client/src/pages/sequence_edit_page/atom/images_atom.rs
  luda-editor/client/src/pages/sequence_edit_page/atom/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_editor/background_with_event.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/image_picker/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded.rs
  luda-editor/client/src/pages/sequence_edit_page/mod.rs
Labels: bug, enhancement, luda editor

#677 Restore image resource name parsing
  luda-editor/psd/src/sections/image_resources_section.rs
  luda-editor/psd/src/sections/mod.rs
Labels: luda editor

#676 Fix ghost render - bounding box change
  luda-editor/client/src/pages/project_list_page/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/character_editor/cg_picker.rs
  luda-editor/client/src/pages/sequence_edit_page/components/character_editor/part_picker.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/image_picker/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/memo_list_view/mod.rs
  luda-editor/client/src/pages/sequence_list_page/mod.rs
  namui-prebuilt/src/dropdown/mod.rs
  namui-prebuilt/src/list_view.rs
  namui-prebuilt/src/scroll_view.rs
  namui-prebuilt/src/table/hooks.rs
  namui-prebuilt/src/vh_list_view.rs
  namui/src/namui/hooks/ctx/render_ctx/compose_ctx/mod.rs
  namui/src/namui/hooks/ctx/render_ctx/mod.rs
  namui/src/namui/hooks/ctx/render_ctx/public.rs
  namui/src/namui/hooks/ctx/render_ctx/renderer.rs
  namui/src/namui/hooks/ctx/tree_ctx.rs
  namui/src/namui/hooks/native/event.rs
Labels: namui, namui-prebuilt

#673 Add graphic list view
  luda-editor/client/src/pages/sequence_edit_page/atom/editing_graphic_index_atom.rs
  luda-editor/client/src/pages/sequence_edit_page/atom/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/graphic_list_view/graphic_list_item.rs
  luda-editor/client/src/pages/sequence_edit_page/components/graphic_list_view/graphic_thumbnail.rs
  luda-editor/client/src/pages/sequence_edit_page/components/graphic_list_view/header.rs
  luda-editor/client/src/pages/sequence_edit_page/components/graphic_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/memo_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/side_bar/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded.rs
  luda-editor/rpc/src/data/cut_update_action.rs
Labels: enhancement, luda editor

#679 Fix wrong cache key
  .github/workflows/publish-for-all-projects.yml
Labels: github-actions, for-all-projects

#680 Stop namui main loop on panic
  .github/workflows/publish-namui-panic-hook.yml
  namui-cli/src/services/runtime_project/wasm.rs
  namui-cli/webCode/src/main/main.ts
  namui-cli/webCode/src/worker.ts
  namui-drawer/Cargo.lock
  namui-drawer/Cargo.toml
  namui-drawer/src/lib.rs
  namui-panic-hook/.gitignore
  namui-panic-hook/Cargo.lock
  namui-panic-hook/Cargo.toml
  namui-panic-hook/src/lib.rs
  namui/src/namui/hooks/ctx/tree_ctx.rs
  namui/src/namui/system/mod.rs
  namui/src/namui/system/panick.rs
Labels: namui

#681 Change graphic order with context menu
  luda-editor/client/src/components/context_menu.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_list_view/cut_cell.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/graphic_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/sequence/mod.rs
  luda-editor/rpc/src/data/cut_update_action.rs
  luda-editor/server/server-core/src/apis/sequence/update_sequence.rs
Labels: bug, enhancement, luda editor

#684 Copy and paste cut
  luda-editor/client/src/clipboard.rs
  luda-editor/client/src/lib.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_editor/background_with_event.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/graphic_clip.rs
Labels: enhancement, luda editor

#685 Move graphic with keyboard
  luda-editor/client/src/pages/sequence_edit_page/atom/focused_component.rs
  luda-editor/client/src/pages/sequence_edit_page/atom/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/cut_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mover.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded.rs
Labels: enhancement, luda editor

#692 Suggestion for luda-editor/graphic-order-shortcut
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/change_graphic_order.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
Labels: luda editor

#690 Change graphic order with shorcut
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/change_graphic_order.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
Labels: enhancement, luda editor

#693 Split cut text with shortcut
  luda-editor/client/src/pages/sequence_edit_page/components/cut_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/sequence/mod.rs
  luda-editor/rpc/src/data/sequence_update_action.rs
  luda-editor/server/server-core/src/apis/sequence/update_sequence.rs
Labels: enhancement, luda editor

#689 Prevent change order to after itself
  luda-editor/client/src/pages/sequence_edit_page/components/cut_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/graphic_list_view/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/change_graphic_order.rs
  luda-editor/client/src/pages/sequence_edit_page/sequence/mod.rs
  luda-editor/rpc/src/data/cut_update_action.rs
  luda-editor/rpc/src/data/sequence_update_action.rs
  luda-editor/server/server-core/src/apis/sequence/update_sequence.rs
Labels: bug, luda editor

#698 Rotate graphic with wysiwyg
  luda-editor/client/src/components/sequence_player.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/graphic_clip.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/rotator.rs
  luda-editor/client/src/pages/sequence_edit_page/components/wysiwyg_editor/wysiwyg_tool.rs
  luda-editor/rpc/src/data/cut/previous/v2.rs
  luda-editor/rpc/src/data/cut/previous/v3.rs
  luda-editor/rpc/src/data/cut/previous/v4.rs
  luda-editor/rpc/src/data/cut/v5.rs
  luda-editor/rpc/src/data/cut_update_action.rs
  luda-editor/rpc/src/data/mod.rs
  luda-editor/rpc/src/data/screen_graphic/mod.rs
  luda-editor/rpc/src/data/screen_graphic/previous/mod.rs
  luda-editor/rpc/src/data/screen_graphic/previous/v0.rs
  luda-editor/rpc/src/data/screen_graphic/v1.rs
  namui-type/src/types/render/rendering_tree/special/mouse_cursor.rs
  namui/src/namui/hooks/ctx/render_ctx/compose_ctx/lazy_rendering_tree.rs
  namui/src/namui/hooks/ctx/render_ctx/compose_ctx/nesting.rs
  namui/src/namui/hooks/ctx/render_ctx/mod.rs
  namui/src/namui/hooks/ctx/render_ctx/public.rs
Labels: enhancement, luda editor, namui
