Repository NamseEnt/namseent, pull requests merged in 2023-01, with the labels that each got.

#484 Load default font of typeface on init
  namui/src/namui/system/typeface/load_sans_typeface_of_all_languages.rs
  namui/src/namui/system/typeface/mod.rs
Labels: namui

#486 Add image url loading function
  namui/src/namui/system/image.rs
Labels: namui

#487 Add username for luda-editor user
  luda-editor/server/Cargo.lock
  luda-editor/server/Cargo.toml
  luda-editor/server/src/services/auth/documents/mod.rs
  luda-editor/server/src/services/auth/documents/user/mod.rs
  luda-editor/server/src/services/auth/documents/user/previous/mod.rs
  luda-editor/server/src/services/auth/documents/user/previous/v0.rs
  luda-editor/server/src/services/auth/documents/user/v1.rs
  luda-editor/server/src/services/auth/get_or_create_user.rs
  luda-editor/server/src/services/auth/impls.rs
  luda-editor/server/src/services/auth/mod.rs
  luda-editor/server/src/services/auth/user_identity.rs
Labels: luda editor

#488 Filter mouse buttons for text_button on mouse up
  luda-editor/client/src/pages/project_list_page/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/character_edit_modal/render/character.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/render/done_button.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_edit_modal/render/image_viewer.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_manager_modal/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/filtered_image_list.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/image_preview.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/image_select_modal/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/screen_editor/render/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/components/timeline/render/context_menu.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/line_list/mod.rs
  luda-editor/client/src/pages/sequence_edit_page/loaded/render/top_bar.rs
  luda-editor/client/src/pages/sequence_list_page/mod.rs
  luda-editor/client/src/pages/sequence_list_page/rename_modal.rs
  namui-prebuilt/src/button.rs
Labels: namui-prebuilt

#489 Easy and safe database with macro
  luda-editor/server/Cargo.lock
  luda-editor/server/Cargo.toml
  luda-editor/server/document-macro/.gitignore
  luda-editor/server/document-macro/Cargo.toml
  luda-editor/server/document-macro/src/lib.rs
  luda-editor/server/src/services/auth/documents/mod.rs
  luda-editor/server/src/services/auth/documents/user/v1.rs
  luda-editor/server/src/services/auth/get_or_create_user.rs
  luda-editor/server/src/services/image/documents.rs
  luda-editor/server/src/services/image/mod.rs
  luda-editor/server/src/services/project/documents.rs
  luda-editor/server/src/services/project/impls.rs
  luda-editor/server/src/services/project/mod.rs
  luda-editor/server/src/services/sequence/documents.rs
  luda-editor/server/src/services/sequence/mod.rs
  luda-editor/server/src/session/mod.rs
  luda-editor/server/src/storage/dynamo_db/mod.rs
  luda-editor/server/src/storage/dynamo_db/transact.rs
Labels: luda editor
