Repository NamseEnt/namseent, pull requests merged in 2024-02, with the labels that each got.

#805 Clippy on `namui-type`
  namui/namui-type/src/types/data_structure/serde_lru_cache.rs
Labels: bug

#804 Hololive/0.0.3
  hololive-beat/hololive-beat/Cargo.lock
  hololive-beat/hololive-beat/Cargo.toml
  hololive-beat/hololive-beat/music_metadata_schema.json
  hololive-beat/hololive-beat/resources/musics/music_metadata.yml
  hololive-beat/hololive-beat/resources/ui/audio/cymbals.mp3
  hololive-beat/hololive-beat/resources/ui/audio/snare.mp3
  hololive-beat/hololive-beat/src/app/components/button.rs
  hololive-beat/hololive-beat/src/app/components/filled_button.rs
  hololive-beat/hololive-beat/src/app/components/icon_button.rs
  hololive-beat/hololive-beat/src/app/components/mod.rs
  hololive-beat/hololive-beat/src/app/components/text_button.rs
  hololive-beat/hololive-beat/src/app/drummer/mod.rs
  hololive-beat/hololive-beat/src/app/mod.rs
  hololive-beat/hololive-beat/src/app/music.rs
  hololive-beat/hololive-beat/src/app/music_play_page/game_result_overlay/mod.rs
  hololive-beat/hololive-beat/src/app/music_play_page/judge_indicator.rs
  hololive-beat/hololive-beat/src/app/music_play_page/note_plotter.rs
  hololive-beat/hololive-beat/src/app/music_select_page/mod.rs
  hololive-beat/hololive-beat/src/app/music_select_page/muisc_preview.rs
  hololive-beat/hololive-beat/src/app/music_select_page/music_carousel.rs
  hololive-beat/hololive-beat/src/app/music_select_page/speed_dropdown.rs
  hololive-beat/hololive-beat/src/app/music_select_page/top_bar.rs
  hololive-beat/hololive-beat/src/app/play_state.rs
  hololive-beat/hololive-beat/src/app/setting_overlay/mod.rs
Labels: hololive-beat

#806 impl AngleExt for i32
  namui/namui-type/src/types/units/angle.rs
Labels: namui
