Repository NamseEnt/namseent, pull requests merged in 2024-08, with the labels that each got.

#902 `Key: Into<AddKey>` for List View
  namui/namui-hooks/src/lib.rs
  namui/namui-prebuilt/src/dropdown/mod.rs
  namui/namui-prebuilt/src/list_view.rs
Labels: namui-prebuilt

#906 impl Component for FnOnce instead Fn
  namui/namui-hooks/src/component/component_trait.rs
Labels: namui

#907 disable oioi agent image push
  .github/workflows/oioi-agent-image-push.yml_disabled
Labels: oioi

#908 Support map for Rect
  namui/namui-type/src/types/units/rect.rs
Labels: namui

#910 Remove Ref type of Sig, always use &
  namui/namui-hooks/src/component/ctx/public_crate.rs
  namui/namui-hooks/src/component/instance.rs
  namui/namui-hooks/src/render_ctx/dependencies.rs
  namui/namui-hooks/src/render_ctx/mod.rs
  namui/namui-hooks/src/sig.rs
  namui/namui-hooks/src/test/mod.rs
  namui/namui-hooks/src/test/pass_sig.rs
  namui/namui-hooks/src/value.rs
  namui/namui/src/namui/hooks/image.rs
  namui/namui/src/namui/render/text_input/mod.rs
Labels: namui

#911 Update wasi sdk url for version 23 and above
  namui/namui-cli/build.rs
Labels: bug, namui-cli

#914 Separate asset bucket
  luda-editor/new-server/server/src/api/asset/reserve_team_asset_upload/mod.rs
  luda-editor/new-server/server/src/main.rs
  luda-editor/new-server/server/src/s3.rs
Labels: luda editor

#917 Fix track_eq_tuple to use its own index
  namui/namui-hooks/src/component/ctx/mod.rs
  namui/namui-hooks/src/component/ctx/public_crate.rs
Labels: bug, namui

#918 Fix sprite size to be affected by wh
  luda-editor/psd-sprite-render/src/render_psd_sprite.rs
Labels: luda editor

#919 Use Deref for Vec<String> rkyv
  luda-editor/new-server/database/schema/macro/src/document.rs
  luda-editor/new-server/database/schema/macro/src/document_parsed.rs
  luda-editor/new-server/macro-common-lib/src/lib.rs
  luda-editor/new-server/rpc/macro/src/lib.rs
  luda-editor/new-server/serializer/src/lib.rs
  luda-editor/new-server/serializer/src/rkyv_with/mod.rs
  luda-editor/new-server/serializer/src/rkyv_with/str_as_string.rs
  luda-editor/new-server/serializer/src/rkyv_with/str_vec.rs
  luda-editor/new-server/serializer/src/system_time.rs
Labels: luda editor

#920 Remove unused crates
  namui/namui-prebuilt/Cargo.lock
  namui/namui/Cargo.lock
  namui/namui/Cargo.toml
  namui/static-tree/.gitignore
  namui/static-tree/Cargo.lock
  namui/static-tree/Cargo.toml
  namui/static-tree/src/lib.rs
  namui/static-tree/src/main_.rs
Labels: namui

#922 Setup rayon concurrency on namui init
  namui/namui-cli/webCode/src/imports/importObject.ts
  namui/namui-prebuilt/Cargo.lock
  namui/namui/Cargo.lock
  namui/namui/Cargo.toml
  namui/namui/src/namui/system/mod.rs
  namui/namui/src/namui/system/wasi/mod.rs
  namui/namui/src/namui/utils/hardware_concurrency.rs
  namui/namui/src/namui/utils/mod.rs
Labels: enhancement, namui

#924 Use nimg instead webp
  luda-editor/nimg/.gitignore
  luda-editor/nimg/Cargo.lock
  luda-editor/nimg/Cargo.toml
  luda-editor/nimg/src/lib.rs
  luda-editor/nimg/src/test.rs
  luda-editor/psd-sprite-render/Cargo.lock
  luda-editor/psd-sprite-render/Cargo.toml
  luda-editor/psd-sprite-render/src/render_psd_sprite.rs
  luda-editor/psd-sprite-render/src/sprite_image_ext.rs
  luda-editor/psd-sprite/Cargo.lock
  luda-editor/psd-sprite/Cargo.toml
  luda-editor/psd-sprite/src/layer_tree.rs
  luda-editor/psd-sprite/src/psd_sprite.rs
  luda-editor/psd-sprite/src/sk_position_image.rs
  luda-editor/psd-sprite/src/skia_util.rs
Labels: namui

#926 Use default for Rect::zero_wh
  namui/namui-type/src/types/units/rect.rs
Labels: namui

#927 nimg using jpeg and jpeg-xl
  luda-editor/nimg/Cargo.lock
  luda-editor/nimg/Cargo.toml
  luda-editor/nimg/src/lib.rs
  luda-editor/nimg/src/test.rs
  luda-editor/psd-sprite-render/Cargo.lock
  luda-editor/psd-sprite-render/src/render_psd_sprite.rs
  luda-editor/psd-sprite-render/src/sprite_image_ext.rs
  luda-editor/psd-sprite/Cargo.lock
  luda-editor/psd-sprite/Cargo.toml
  luda-editor/psd-sprite/src/encode.rs
  luda-editor/psd-sprite/src/layer_tree.rs
  luda-editor/psd-sprite/src/lib.rs
  luda-editor/psd-sprite/src/psd_sprite.rs
  luda-editor/psd-sprite/src/sk_position_image.rs
Labels: namui

#928 nimg: Jpg and Zstd as main codec
  luda-editor/nimg/Cargo.lock
  luda-editor/nimg/Cargo.toml
  luda-editor/nimg/src/lib.rs
  luda-editor/psd-sprite-render/Cargo.lock
  luda-editor/psd-sprite-render/Cargo.toml
  luda-editor/psd-sprite-render/src/render_psd_sprite.rs
  luda-editor/psd-sprite-render/src/sprite_image_ext.rs
  luda-editor/psd-sprite/src/encode.rs
  luda-editor/psd-sprite/src/psd_sprite.rs
Labels: luda editor
