Repository NamseEnt/namseent, pull requests merged in 2024-01, with the labels that each got.

#749 Use pdb for backtrace
  namui/namui-cli/src/services/resource_collect_service.rs
Labels: namui-cli

#750 Divide main thread and tokio runtime
  luda-adventure/src/lib.rs
  namui/namui-cli/src/services/runtime_project/x86_64_pc_windows_msvc.rs
  namui/namui-prebuilt/src/event_trap.rs
  namui/namui/src/namui/common/event/mod.rs
  namui/namui/src/namui/common/event/raw.rs
  namui/namui/src/namui/hooks/channel.rs
  namui/namui/src/namui/hooks/ctx/render_ctx/compose_ctx/mod.rs
  namui/namui/src/namui/hooks/ctx/render_ctx/compose_ctx/nesting.rs
  namui/namui/src/namui/hooks/ctx/render_ctx/mod.rs
  namui/namui/src/namui/hooks/ctx/render_ctx/public.rs
  namui/namui/src/namui/hooks/ctx/render_ctx/renderer.rs
  namui/namui/src/namui/hooks/ctx/tree_ctx.rs
  namui/namui/src/namui/hooks/event.rs
  namui/namui/src/namui/hooks/mod.rs
  namui/namui/src/namui/mod.rs
  namui/namui/src/namui/namui_context/mod.rs
  namui/namui/src/namui/system/drawer/non_wasm.rs
  namui/namui/src/namui/system/mod.rs
  namui/namui/src/namui/system/screen/non_wasm.rs
  namui/namui/src/namui/system/skia/mod.rs
  namui/namui/src/namui/system/skia/non_wasm.rs
  namui/sample/bundle/src/lib.rs
  namui/sample/image-load-background/src/lib.rs
  namui/sample/media/Cargo.lock
  namui/sample/media/src/lib.rs
  namui/sample/mouse/Cargo.lock
  namui/sample/mouse/src/lib.rs
  namui/sample/rect/src/lib.rs
  namui/sample/shader/src/lib.rs
  namui/sample/tab-to-next-text-input/src/lib.rs
  namui/sample/text-input/src/lib.rs
  namui/skia/skia/src/native/calculate.rs
  namui/skia/skia/src/native/mod.rs
  namui/skia/skia/src/native/native_skia.rs
  namui/skia/skia/src/traits.rs
  quick/sample/tui/src/lib.rs
Labels: namui

#752 Wait for media preload
  namui/namui/src/namui/system/media/audio_buffer.rs
  namui/namui/src/namui/system/media/media_core.rs
  namui/namui/src/namui/system/media/media_decoding_stream.rs
  namui/namui/src/namui/system/media/media_decoding_thread.rs
  namui/namui/src/namui/system/media/media_handle.rs
  namui/namui/src/namui/system/media/video_framer.rs
  namui/sample/media/src/lib.rs
Labels: namui

#755 Support master media volume
  namui/namui/src/namui/system/media/audio/atomic_floating.rs
  namui/namui/src/namui/system/media/audio/audio_buffer.rs
  namui/namui/src/namui/system/media/audio/audio_config.rs
  namui/namui/src/namui/system/media/audio/audio_context.rs
  namui/namui/src/namui/system/media/audio/audio_resampling.rs
  namui/namui/src/namui/system/media/audio/mod.rs
  namui/namui/src/namui/system/media/core/media_control.rs
  namui/namui/src/namui/system/media/core/media_core.rs
  namui/namui/src/namui/system/media/core/media_decoding_stream.rs
  namui/namui/src/namui/system/media/core/media_decoding_thread.rs
  namui/namui/src/namui/system/media/core/mod.rs
  namui/namui/src/namui/system/media/core/open_media.rs
  namui/namui/src/namui/system/media/media_context.rs
  namui/namui/src/namui/system/media/media_handle.rs
  namui/namui/src/namui/system/media/media_struct.rs
  namui/namui/src/namui/system/media/mod.rs
  namui/namui/src/namui/system/media/video/mod.rs
  namui/namui/src/namui/system/media/video/video_framer.rs
  namui/namui/src/namui/system/media/video/video_scaling.rs
  namui/sample/media/src/lib.rs
Labels: namui

#756 Fix play and forget
  namui/namui/src/namui/system/media/core/media_decoding_thread.rs
Labels: namui

#759 Resize right buffer size during down-sampling
  namui/namui/src/namui/system/media/audio/audio_resampling.rs
  namui/rust-ffmpeg/src/software/resampling/context.rs
  namui/sample/media/resources/audio.opus
  namui/sample/media/src/lib.rs
Labels: namui

#761 Remove unused Component fn
  namui/namui/src/namui/hooks/component.rs
Labels: namui

#762 Full-load-once audio with slice support
  namui/namui/src/namui/mod.rs
  namui/namui/src/namui/system/media/audio/audio_buffer.rs
  namui/namui/src/namui/system/media/audio/audio_context.rs
  namui/namui/src/namui/system/media/audio/audio_resampling.rs
  namui/namui/src/namui/system/media/audio/full_load_once_audio.rs
  namui/namui/src/namui/system/media/audio/mod.rs
  namui/namui/src/namui/system/media/core/media_core.rs
  namui/namui/src/namui/system/media/core/open_media.rs
  namui/namui/src/namui/system/media/media_context.rs
  namui/namui/src/namui/system/media/mod.rs
  namui/sample/media/src/lib.rs
Labels: namui

#763 Turn on target feature based on steam hw survey
  namui/namui-cli/src/services/runtime_project/wasm.rs
  namui/namui-cli/src/services/runtime_project/x86_64_pc_windows_msvc.rs
  namui/namui-cli/src/services/rust_build_service.rs
  namui/namui-cli/src/util/mod.rs
  namui/namui-cli/src/util/recreate_dir_all.rs
Labels: namui-cli

#764 Disable `DXGI_CREATE_FACTORY_DEBUG` flag
  namui/skia/skia/src/native/native_skia.rs
Labels: bug, namui

#767 Keep target directory for build speed
  namui/namui-cli/Cargo.lock
  namui/namui-cli/Cargo.toml
  namui/namui-cli/src/services/runtime_project/wasm.rs
  namui/namui-cli/src/services/runtime_project/x86_64_pc_windows_msvc.rs
  namui/namui-cli/src/util/recreate_dir_all.rs
Labels: namui-cli

#770 Optimize full_load_once_audio consume using VecDeque
  namui/namui/src/namui/system/media/audio/full_load_once_audio.rs
Labels: namui

#771 Slice audio by channels
  namui/namui/src/namui/system/media/audio/full_load_once_audio.rs
Labels: namui

#773 MaskFilter & Blur for glow effect
  namui/namui-prebuilt/src/typography/effect.rs
  namui/namui-prebuilt/src/typography/mod.rs
  namui/namui-type/src/types/render/mask_filter.rs
  namui/namui-type/src/types/render/mod.rs
  namui/namui-type/src/types/render/paint.rs
  namui/sample/typography-effect/.gitignore
  namui/sample/typography-effect/Cargo.lock
  namui/sample/typography-effect/Cargo.toml
  namui/sample/typography-effect/src/lib.rs
  namui/skia/skia/src/native/paint.rs
Labels: namui, namui-prebuilt

#774 Redraw forcibly and load image in tokio
  namui/namui/src/namui/system/drawer/non_wasm.rs
  namui/namui/src/namui/system/screen/non_wasm.rs
  namui/sample/image-load-background/Cargo.lock
  namui/sample/image-load-background/Cargo.toml
Labels: namui

#777 Fix Image Fit::Cover
  namui/namui-drawer/sys/src/draw/image.rs
  namui/sample/image-fit/.gitignore
  namui/sample/image-fit/.namuibundle
  namui/sample/image-fit/Cargo.lock
  namui/sample/image-fit/Cargo.toml
  namui/sample/image-fit/resources/0.jpg
  namui/sample/image-fit/resources/rotated.jpg
  namui/sample/image-fit/src/lib.rs
  namui/skia/skia/src/native/canvas.rs
Labels: namui

#779 Add ImageFilter::Blur
  namui/namui-type/src/types/render/image_filter.rs
  namui/namui-type/src/types/render/mod.rs
  namui/namui-type/src/types/render/paint.rs
  namui/skia/skia/src/native/paint.rs
Labels: namui

#778 Turn off debug_bounding_box
  namui/namui/src/namui/hooks/ctx/render_ctx/public.rs
Labels: namui

#776 Open `typeface::register_typeface` to user
  namui/namui/src/namui/system/mod.rs
  namui/namui/src/namui/system/typeface/mod.rs
  namui/sample/register-font/.gitignore
  namui/sample/register-font/.namuibundle
  namui/sample/register-font/Cargo.lock
  namui/sample/register-font/Cargo.toml
  namui/sample/register-font/resources/MoiraiOne-Regular.ttf
  namui/sample/register-font/resources/OFL.txt
  namui/sample/register-font/src/lib.rs
Labels: namui

#780 Convert radius to sigma, vice versa
  namui/namui-type/src/types/render/mask_filter.rs
Labels: namui

#781 Add PaintStyle::StrokeAndFill
  namui/namui-type/src/types/render/types.rs
Labels: namui

#783 Expose futures::{join, try_join, join_all, try_join_all}
  namui/namui/src/namui/mod.rs
Labels: namui

#782 Scale in ComposeCtx
  namui/namui/src/namui/hooks/ctx/render_ctx/compose_ctx/lazy_rendering_tree.rs
  namui/namui/src/namui/hooks/ctx/render_ctx/compose_ctx/nesting.rs
Labels: namui

#784 Add String and &String to PathLike
  namui/namui/src/namui/system/file/types/path_like.rs
Labels: namui

#786 Support clippy and check on namui-cli
  namui/namui-cli/src/cli.rs
  namui/namui-cli/src/main.rs
  namui/namui-cli/src/procedures/check.rs
  namui/namui-cli/src/procedures/clippy.rs
  namui/namui-cli/src/procedures/mod.rs
Labels: namui-cli

#788 Support environment variables
  .github/workflows/oioi-agent-image-push.yml
  oioi/agent/Cargo.lock
  oioi/agent/Cargo.toml
  oioi/agent/src/container_config.rs
  oioi/agent/src/docker_engine.rs
  oioi/agent/src/main.rs
  oioi/cdk/lib/index.ts
  oioi/cdk/package-lock.json
  oioi/cdk/package.json
  oioi/oioi-test-cdk/lib/oioi-test-cdk-stack.ts
  oioi/oioi-test-cdk/lib/sample.Dockerfile
  oioi/oioi-test-cdk/package-lock.json
  oioi/oioi-test-cdk/package.json
Labels: oioi

#787 Publish oioi cdk
  .github/workflows/oioi-agent-image-push.yml
Labels: oioi

#790 Add cheap_slice
  namui/namui-type/src/types/data_structure/cheap_slice.rs
  namui/namui-type/src/types/data_structure/mod.rs
Labels: namui

#791 Put prefix on update_or_create_item
  luda-editor/server/server-core/src/storage/dynamo_db/singular.rs
Labels: luda editor

#792 Support non-pk document
  luda-editor/server/document-macro/src/lib.rs
Labels: luda editor

#795 Make DrawCommand as Component
  namui/namui/src/namui/hooks/component.rs
Labels: namui

#796 Support font height & glyph group bound
  namui/namui-type/src/types/render/paragraph/glyph.rs
  namui/namui-type/src/types/render/types.rs
  namui/skia/skia/src/native/group_glyph.rs
Labels: namui

#797 Support linear gradient
  namui/namui-type/src/types/render/shader.rs
  namui/namui-type/src/types/render/types.rs
  namui/sample/typography-effect/src/lib.rs
  namui/skia/skia/src/native/shader.rs
Labels: namui

#798 Build with --release, no console on msvc
  namui/namui-cli/src/cli.rs
  namui/namui-cli/src/main.rs
  namui/namui-cli/src/procedures/build.rs
  namui/namui-cli/src/procedures/check.rs
  namui/namui-cli/src/procedures/clippy.rs
  namui/namui-cli/src/procedures/linux/wasm_linux_electron/build.rs
  namui/namui-cli/src/procedures/linux/wasm_linux_electron/start.rs
  namui/namui-cli/src/procedures/linux/wasm_unknown_web/build.rs
  namui/namui-cli/src/procedures/linux/wasm_unknown_web/start.rs
  namui/namui-cli/src/procedures/linux/wasm_unknown_web/test.rs
  namui/namui-cli/src/procedures/linux/wasm_windows_electron/build.rs
  namui/namui-cli/src/procedures/linux/wasm_windows_electron/start.rs
  namui/namui-cli/src/procedures/linux/x86_64_pc_windows_msvc/build.rs
  namui/namui-cli/src/procedures/start.rs
  namui/namui-cli/src/procedures/test.rs
  namui/namui-cli/src/services/drawer_watch_build_service.rs
  namui/namui-cli/src/services/electron_build_service.rs
  namui/namui-cli/src/services/electron_package_service.rs
  namui/namui-cli/src/services/resource_collect_service.rs
  namui/namui-cli/src/services/runtime_project/x86_64_pc_windows_msvc.rs
  namui/namui-cli/src/services/rust_build_service.rs
  namui/namui-cli/src/services/wasm_watch_build_service.rs
  namui/namui-user-config/src/set_user_config.rs
Labels: namui-cli

#799 Impl with_alpha for Color
  namui/namui-type/src/types/render/types.rs
Labels: enhancement, namui

#800 Fix brighter of color
  namui/namui-type/src/types/render/types.rs
Labels: enhancement, namui

#801 Remove reference for path
  namui/namui/src/namui/system/media/audio/full_load_once_audio.rs
Labels: namui

#803 Hololive beat 0.0.2
  hololive-beat/hololive-beat/Cargo.lock
  hololive-beat/hololive-beat/Cargo.toml
  hololive-beat/hololive-beat/resources/font/fontawesome-free-5.15.4-desktop/LICENSE.txt
  hololive-beat/hololive-beat/resources/font/fontawesome-free-5.15.4-desktop/otfs/Font Awesome 5 Brands-Regular-400.otf
  hololive-beat/hololive-beat/resources/font/fontawesome-free-5.15.4-desktop/otfs/Font Awesome 5 Free-Regular-400.otf
  hololive-beat/hololive-beat/resources/font/fontawesome-free-5.15.4-desktop/otfs/Font Awesome 5 Free-Solid-900.otf
  hololive-beat/hololive-beat/resources/font/fontawesome-free-5.15.4-desktop/otfs/README.md
  hololive-beat/hololive-beat/resources/musics/music_metadata.yml
  hololive-beat/hololive-beat/resources/ui/drummer/1.png
  hololive-beat/hololive-beat/resources/ui/drummer/2.png
  hololive-beat/hololive-beat/resources/ui/drummer/3.png
  hololive-beat/hololive-beat/resources/ui/drummer/drum.png
  hololive-beat/hololive-beat/resources/ui/drummer/drummer.png
  hololive-beat/hololive-beat/resources/ui/enter.png
  hololive-beat/hololive-beat/resources/ui/left_arrow.png
  hololive-beat/hololive-beat/resources/ui/right_arrow.png
  hololive-beat/hololive-beat/resources/ui/setting.png
  hololive-beat/hololive-beat/src/app/color.rs
  hololive-beat/hololive-beat/src/app/components/backdrop.rs
  hololive-beat/hololive-beat/src/app/components/filled_button.rs
  hololive-beat/hololive-beat/src/app/components/frame.rs
  hololive-beat/hololive-beat/src/app/components/icon_button.rs
  hololive-beat/hololive-beat/src/app/components/mod.rs
  hololive-beat/hololive-beat/src/app/components/text_button.rs
  hololive-beat/hololive-beat/src/app/drummer/mod.rs
  hololive-beat/hololive-beat/src/app/game_result_overlay/mod.rs
  hololive-beat/hololive-beat/src/app/mod.rs
  hololive-beat/hololive-beat/src/app/music.rs
  hololive-beat/hololive-beat/src/app/music_play_page/game_result_overlay/mod.rs
  hololive-beat/hololive-beat/src/app/music_play_page/judge_indicator.rs
  hololive-beat/hololive-beat/src/app/music_play_page/mod.rs
  hololive-beat/hololive-beat/src/app/music_play_page/note_judge.rs
  hololive-beat/hololive-beat/src/app/music_play_page/note_plotter.rs
  hololive-beat/hololive-beat/src/app/music_select_page/mod.rs
  hololive-beat/hololive-beat/src/app/music_select_page/music_carousel.rs
  hololive-beat/hololive-beat/src/app/music_select_page/speed_dropdown.rs
  hololive-beat/hololive-beat/src/app/music_select_page/top_bar.rs
  hololive-beat/hololive-beat/src/app/play_state.rs
  hololive-beat/hololive-beat/src/app/setting_overlay/mod.rs
  hololive-beat/hololive-beat/src/app/setting_overlay/slider.rs
  hololive-beat/hololive-beat/src/app/setting_overlay/volume_setting.rs
  hololive-beat/hololive-beat/src/app/theme.rs
Labels: hololive-beat
