Repository NamseEnt/namseent, pull requests merged in 2024-06, with the labels that each got.

#849 Revive text_input in wasi
  namui/namui-cli/webCode/public/vite.svg
  namui/namui-cli/webCode/src/eventSystem.ts
  namui/namui-cli/webCode/src/imports/codes.ts
  namui/namui-cli/webCode/src/imports/envGl.ts
  namui/namui-cli/webCode/src/imports/getSizePerPixel.ts
  namui/namui-cli/webCode/src/imports/importObject.ts
  namui/namui-cli/webCode/src/imports/textInput.ts
  namui/namui-cli/webCode/src/interWorkerProtocol.ts
  namui/namui-cli/webCode/src/main-worker.ts
  namui/namui-cli/webCode/src/main.ts
  namui/namui-cli/webCode/src/textInput.ts
  namui/namui-cli/webCode/src/thread-worker.ts
  namui/namui-hooks/src/compose/ctx/public/event.rs
  namui/namui/src/namui/common/mod.rs
  namui/namui/src/namui/hooks/looper.rs
  namui/namui/src/namui/render/mod.rs
  namui/namui/src/namui/render/text_input/draw_texts_divided_by_selection.rs
  namui/namui/src/namui/render/text_input/focus.rs
  namui/namui/src/namui/render/text_input/instance.rs
  namui/namui/src/namui/render/text_input/mod.rs
  namui/namui/src/namui/render/text_input/selection.rs
  namui/namui/src/namui/system/keyboard/wasm.rs
  namui/namui/src/namui/system/mod.rs
  namui/namui/src/namui/system/screen/wasm.rs
  namui/namui/src/namui/system/text_input.rs
  namui/sample/text-input/Cargo.lock
  namui/sample/text-input/Cargo.toml
  namui/sample/text-input/src/lib.rs
  namui/skia/src/render/codes.rs
  namui/skia/src/render/event/mod.rs
  namui/skia/src/render/event/raw.rs
  namui/skia/src/render/paragraph/caret.rs
Labels: namui

#855 Remove unused println
  namui/namui/src/namui/mod.rs
Labels: namui

#850 Fix wasi start, wasi-sdk and npm package installing
  namui/namui-cli/.gitignore
  namui/namui-cli/build.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/start.rs
Labels: bug, namui-cli

#861 Add round for text
  luda-editor/client/src/components/tool_tip.rs
  namui/namui/src/namui/render/text.rs
  namui/sample/register-font/src/lib.rs
  quick/src/block/row_block.rs
  quick/src/link.rs
Labels: namui

#863 Insert js
  namui/namui-cli/webCode/src/RingBufferWriter.ts
  namui/namui-cli/webCode/src/imports/importObject.ts
  namui/namui-cli/webCode/src/insertJs.ts
  namui/namui-cli/webCode/src/interWorkerProtocol.ts
  namui/namui-cli/webCode/src/main.ts
  namui/namui-cli/webCode/src/webSocket.ts
  namui/namui-type/src/types/data_structure/mod.rs
  namui/namui-type/src/types/data_structure/ring_buffer.rs
  namui/namui/src/namui/system/mod.rs
  namui/namui/src/namui/system/network/ws/wasi.rs
  namui/namui/src/namui/system/wasi/mod.rs
  namui/sample/insert-js/.gitignore
  namui/sample/insert-js/Cargo.lock
  namui/sample/insert-js/Cargo.toml
  namui/sample/insert-js/src/lib.rs
  namui/sample/insert-js/src/login.js
Labels: namui

#866 Remove unnecessary `Sync` trait of state
  namui/namui-hooks/src/set_state.rs
  namui/namui-hooks/src/world/mod.rs
Labels: namui

#868 Expose `Atom::is_initialized`
  namui/namui-hooks/src/atom.rs
Labels: namui

#872 Use `ResourceLocation` for image
  namui/namui/src/namui/common/mod.rs
  namui/namui/src/namui/common/resource_location.rs
  namui/namui/src/namui/hooks/image.rs
  namui/namui/src/namui/render/image.rs
  namui/namui/src/namui/system/file/types/path_like.rs
  namui/namui/src/namui/system/image/mod.rs
  namui/namui/src/namui/system/skia/mod.rs
  namui/sample/image-fit/Cargo.lock
  namui/sample/image-fit/src/lib.rs
  namui/sample/image-load-background/Cargo.lock
  namui/sample/image-load-background/src/lib.rs
Labels: bug, namui

#875 Turn on `glScissor`
  namui/namui-cli/webCode/src/imports/envGl.ts
Labels: enhancement, namui

#879 Support sqlite bundle system in windows
  namui/namui-cli/src/services/bundle/bundle_to_sqlite.rs
  namui/namui-cli/src/services/resource_collect_service.rs
  namui/namui/src/namui/system/file/bundle/mod.rs
  namui/namui/src/namui/system/typeface/load_sans_typeface_of_all_languages.rs
Labels: enhancement, namui

#880 Add WASI_SYSROOT for wasi env
  namui/namui-cli/src/services/wasi_cargo_envs.rs
Labels: namui-cli
