Repository NamseEnt/namseent, pull requests merged in 2024-10, with the labels that each got.

#973 Upload audio asset
  luda-editor/new-client/src/asset_manage_page.rs
Labels: luda editor

#974 Add go back buttons
  luda-editor/new-client/src/asset_manage_page.rs
  luda-editor/new-client/src/episode_editor/mod.rs
  luda-editor/new-client/src/new_episode_page.rs
  luda-editor/new-client/src/new_project_page.rs
  luda-editor/new-client/src/new_team_page.rs
Labels: luda editor

#977 Build wasm32-wasi-web
  namui/namui-cli/.gitignore
  namui/namui-cli/Cargo.lock
  namui/namui-cli/Cargo.toml
  namui/namui-cli/build.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/build.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/mod.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/start.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/vite_config.rs
  namui/namui-cli/src/services/runtime_project/wasm.rs
Labels: namui-cli

#978 Fix table fit and add manual system init for test
  namui/namui-cli/src/cli.rs
  namui/namui-cli/src/procedures/build.rs
  namui/namui-cli/src/procedures/check.rs
  namui/namui-cli/src/procedures/clippy.rs
  namui/namui-cli/src/procedures/linux/mod.rs
  namui/namui-cli/src/procedures/linux/x86_64_unknown_linux_gnu/mod.rs
  namui/namui-cli/src/procedures/linux/x86_64_unknown_linux_gnu/test.rs
  namui/namui-cli/src/procedures/start.rs
  namui/namui-cli/src/procedures/test.rs
  namui/namui-cli/src/services/resource_collect_service.rs
  namui/namui-cli/src/services/rust_build_service.rs
  namui/namui-prebuilt/src/table/mod.rs
  namui/namui-prebuilt/src/table/tests.rs
  namui/namui-user-config/src/set_user_config.rs
  namui/namui-user-config/src/user_config.rs
  namui/namui/src/system/mod.rs
  namui/skia/src/native/path.rs
Labels: namui, namui-prebuilt, namui-cli

#979 Add text editor for character line
  luda-editor/new-client/src/episode_editor/mod.rs
  luda-editor/new-client/src/episode_editor/text_editor.rs
Labels: luda editor
