Repository NamseEnt/namseent, pull requests merged in 2024-07, with the labels that each got.

#881 kv-store, the persistent key-value store
  namui/namui-cli/webCode/src/imports/envGl.ts
  namui/namui-cli/webCode/src/imports/importObject.ts
  namui/namui-cli/webCode/src/interWorkerProtocol.ts
  namui/namui-cli/webCode/src/main-worker.ts
  namui/namui-cli/webCode/src/main.ts
  namui/namui-cli/webCode/src/storage/imports.ts
  namui/namui-cli/webCode/src/storage/protocol.md
  namui/namui-cli/webCode/src/storage/worker.ts
  namui/namui-cli/webCode/src/thread-worker.ts
  namui/namui/src/namui/common/resource_location.rs
  namui/namui/src/namui/system/file/kv_store/mod.rs
  namui/namui/src/namui/system/file/kv_store/posix.rs
  namui/namui/src/namui/system/file/kv_store/wasi.rs
  namui/namui/src/namui/system/file/local_storage/mod.rs
  namui/namui/src/namui/system/file/mod.rs
  namui/namui/src/namui/system/platform/mod.rs
  namui/namui/src/namui/system/skia/mod.rs
  namui/namui/src/namui/system/time/mod.rs
  namui/sample/kv_store/.gitignore
  namui/sample/kv_store/Cargo.lock
  namui/sample/kv_store/Cargo.toml
  namui/sample/kv_store/src/lib.rs
Labels: namui, namui-cli

#882 Async effect with Send+Copy set_state!
  namui/namui-hooks/Cargo.lock
  namui/namui-hooks/Cargo.toml
  namui/namui-hooks/src/atom.rs
  namui/namui-hooks/src/component/ctx/public_crate.rs
  namui/namui-hooks/src/render_ctx/dependencies.rs
  namui/namui-hooks/src/render_ctx/mod.rs
  namui/namui-hooks/src/set_state.rs
  namui/namui-hooks/src/sig.rs
  namui/namui-hooks/src/test/mod.rs
  namui/namui-hooks/src/world/mod.rs
  namui/namui-hooks/src/world/public.rs
  namui/namui-prebuilt/Cargo.lock
  namui/namui-prebuilt/src/event_trap.rs
  namui/namui-prebuilt/src/list_view.rs
  namui/namui-prebuilt/src/scroll_view.rs
  namui/namui-prebuilt/src/vh_list_view.rs
  namui/namui/Cargo.lock
  namui/namui/src/namui/hooks/image.rs
  namui/namui/src/namui/render/text_input/mod.rs
  namui/sample/bundle/src/lib.rs
  namui/sample/insert-js/src/lib.rs
  namui/sample/media/src/lib.rs
  namui/sample/register-font/src/lib.rs
  namui/sample/websocket/src/lib.rs
Labels: namui

#883 ctx.spawn(future) and Clean up
  namui/namui-hooks/Cargo.toml
  namui/namui-hooks/src/component/ctx/public_crate.rs
  namui/namui-hooks/src/component/instance.rs
  namui/namui-hooks/src/render_ctx/mod.rs
  namui/namui-hooks/src/test/mod.rs
Labels: namui

#885 Impl msvc start procedure
  namui/namui-cli/src/procedures/linux/x86_64_pc_windows_msvc/mod.rs
  namui/namui-cli/src/procedures/linux/x86_64_pc_windows_msvc/start.rs
  namui/namui-cli/src/procedures/start.rs
Labels: namui-cli

#886 Import `sendMessageToMainThread` in main-worker
  namui/namui-cli/webCode/src/main-worker.ts
Labels: bug, namui-cli

#887 Ltrb::all(T)
  namui/namui-type/src/types/units/ltrb.rs
Labels: namui

#888 Format px in f32, not ordered_f32
  namui/namui-type/src/types/units/px.rs
Labels: namui

#884 Create media from bytes to support sqlite bundle system
  namui/namui/src/namui/system/media/audio/audio_context.rs
  namui/namui/src/namui/system/media/audio/full_load_once_audio.rs
  namui/namui/src/namui/system/media/audio/full_load_repeat_audio.rs
  namui/namui/src/namui/system/media/core/input_context.rs
  namui/namui/src/namui/system/media/core/media_core.rs
  namui/namui/src/namui/system/media/core/media_decoding_thread.rs
  namui/namui/src/namui/system/media/core/media_source/input_bytes.rs
  namui/namui/src/namui/system/media/core/media_source/mod.rs
  namui/namui/src/namui/system/media/core/mod.rs
  namui/namui/src/namui/system/media/core/open_media.rs
  namui/namui/src/namui/system/media/media_context.rs
  namui/namui/src/namui/system/media/media_handle.rs
  namui/namui/src/namui/system/media/mod.rs
  namui/sample/media/Cargo.lock
  namui/sample/media/Cargo.toml
  namui/sample/media/src/lib.rs
Labels: enhancement, namui

#893 Delete namui/namui-cli/webCode/src/fds.ts
  namui/namui-cli/webCode/src/fds.ts
Labels: namui, namui-cli

#895 Remove type_derives, use hash lru cache
  namui/namui-drawer/Cargo.lock
  namui/namui-hooks/Cargo.lock
  namui/namui-prebuilt/Cargo.lock
  namui/namui/Cargo.lock
  namui/skia/Cargo.lock
  namui/skia/Cargo.toml
  namui/skia/src/lib.rs
  namui/skia/src/native/color_filter.rs
  namui/skia/src/native/path.rs
  namui/skia/src/native/text_blob.rs
  namui/skia/src/render/command/image.rs
  namui/skia/src/render/command/mod.rs
  namui/skia/src/render/command/path.rs
  namui/skia/src/render/command/text.rs
  namui/skia/src/render/font.rs
  namui/skia/src/render/image.rs
  namui/skia/src/render/image_filter.rs
  namui/skia/src/render/mask_filter.rs
  namui/skia/src/render/mod.rs
  namui/skia/src/render/paint.rs
  namui/skia/src/render/paragraph/caret.rs
  namui/skia/src/render/paragraph/mod.rs
  namui/skia/src/render/path.rs
  namui/skia/src/render/rendering_tree/mod.rs
  namui/skia/src/render/rendering_tree/special/absolute.rs
  namui/skia/src/render/rendering_tree/special/clip.rs
  namui/skia/src/render/rendering_tree/special/mod.rs
  namui/skia/src/render/rendering_tree/special/mouse_cursor.rs
  namui/skia/src/render/rendering_tree/special/on_top.rs
  namui/skia/src/render/rendering_tree/special/rotate.rs
  namui/skia/src/render/rendering_tree/special/scale.rs
  namui/skia/src/render/rendering_tree/special/transform.rs
  namui/skia/src/render/rendering_tree/special/translate.rs
  namui/skia/src/render/rendering_tree/special/with_id.rs
  namui/skia/src/render/shader.rs
  namui/skia/src/render/types.rs
Labels: namui

#896 Comment the name of vh list view
  namui/namui-prebuilt/src/vh_list_view.rs
Labels: namui

#897 Use Iterator for list_view
  namui/namui-prebuilt/src/dropdown/mod.rs
  namui/namui-prebuilt/src/list_view.rs
Labels: namui

#899 Dependencies, TrackEqTuple for better tracking changes
  namui/namui-hooks/src/component/ctx/mod.rs
  namui/namui-hooks/src/component/ctx/public_crate.rs
  namui/namui-hooks/src/component/instance.rs
  namui/namui-hooks/src/render_ctx/dependencies.rs
  namui/namui-hooks/src/render_ctx/mod.rs
  namui/namui-hooks/src/sig.rs
  namui/namui-hooks/src/test/mod.rs
Labels: namui

#900 Support 2,3,4 tuple set_state mutate
  namui/namui-hooks/src/component/ctx/public_crate.rs
  namui/namui-hooks/src/component/instance.rs
  namui/namui-hooks/src/ids.rs
  namui/namui-hooks/src/set_state.rs
  namui/namui-hooks/src/test/mod.rs
  namui/namui-hooks/src/world/mod.rs
  namui/namui-hooks/src/world/public.rs
Labels: namui
