Repository NamseEnt/namseent, pull requests merged in 2024-09, with the labels that each got.

#923 Render psd sprite in previews
  luda-editor/new-client/.namuibundle
  luda-editor/new-client/Cargo.lock
  luda-editor/new-client/Cargo.toml
  luda-editor/new-client/src/episode_editor/scene_list.rs
  luda-editor/new-client/src/episode_editor/scene_preview.rs
  luda-editor/new-client/src/lib.rs
  luda-editor/new-client/src/render_psd_sprite.rs
  luda-editor/new-server/server/src/api/episode_editor/exit_episode_editor/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/get_speaker_names/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/join_episode_editor/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/load_speaker_slots/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/save_speaker_slots/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/try_edit_episode/mod.rs
  luda-editor/psd-sprite-render/src/render_psd_sprite.rs
  luda-editor/psd-sprite/src/lib.rs
Labels: enhancement, luda editor

#933 Qualify shadowed text rendering function
  namui/namui/src/render/text_input/draw_texts_divided_by_selection.rs
Labels: bug, namui

#935 Put Str0 generic to client
  luda-editor/new-client/Cargo.lock
  luda-editor/new-server/macro-common-lib/src/lib.rs
  luda-editor/new-server/rpc/build_helper/client.rs
  luda-editor/new-server/server/src/api/episode/create_new_episode/mod.rs
Labels: luda editor

#937 [LudaEditor] Server - Episode Editor and Transaction Abort Reason
  luda-editor/new-server/database/database/src/document_store/in_memory.rs
  luda-editor/new-server/database/database/src/document_store/mod.rs
  luda-editor/new-server/database/database/src/document_store/sqlite/mod.rs
  luda-editor/new-server/database/database/src/lib.rs
  luda-editor/new-server/database/schema/0/src/episode_editor.rs
  luda-editor/new-server/database/schema/0/src/lib.rs
  luda-editor/new-server/database/schema/document/src/transact.rs
  luda-editor/new-server/database/schema/macro/src/document.rs
  luda-editor/new-server/rpc/src/lib.rs
  luda-editor/new-server/server/src/api/asset/reserve_team_asset_upload/mod.rs
  luda-editor/new-server/server/src/api/auth/common/mod.rs
  luda-editor/new-server/server/src/api/auth/google_auth/mod.rs
  luda-editor/new-server/server/src/api/auth/revoke_session_token/mod.rs
  luda-editor/new-server/server/src/api/episode/create_new_episode/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/common/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/exit_episode_editor/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/get_episode_texts/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/get_speaker_names/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/join_episode_editor/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/load_speaker_slots/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/save_speaker_slots/mod.rs
  luda-editor/new-server/server/src/api/episode_editor/try_edit_episode/mod.rs
  luda-editor/new-server/server/src/api/project/create_new_project/mod.rs
  luda-editor/new-server/server/src/api/team/create_new_team/mod.rs
  luda-editor/new-server/server/src/api/team_invite/create_team_invite_code/mod.rs
  luda-editor/new-server/server/src/api/team_invite/invalidate_team_invite_code/mod.rs
  luda-editor/new-server/server/src/api/team_invite/join_team/mod.rs
Labels: luda editor

#938 Fix wrong length setting for http stream buffer
  namui/namui-cli/webCode/src/httpFetch/yesStream.ts
Labels: namui

#939 Http response stream
  namui/namui-cli/webCode/src/httpFetch/noStream.ts
  namui/namui-cli/webCode/src/httpFetch/yesStream.ts
  namui/namui-prebuilt/Cargo.lock
  namui/namui/Cargo.lock
  namui/namui/Cargo.toml
  namui/namui/src/lib.rs
  namui/namui/src/system/network/http/mod.rs
  namui/namui/src/system/network/http/non_wasi.rs
  namui/namui/src/system/network/http/wasi.rs
  namui/sample/http/Cargo.lock
  namui/sample/http/src/lib.rs
Labels: namui

#942 Set duplex on fetch start
  namui/namui-cli/webCode/src/httpFetch/yesStream.ts
Labels: bug, namui

#940 Fix ring buffer wrap around
  namui/namui-type/src/types/data_structure/ring_buffer.rs
Labels: bug, namui

#943 Remove parts from schema
  luda-editor/new-server/database/schema/0/src/asset/sprite/mod.rs
  luda-editor/new-server/database/schema/0/src/asset/sprite/parts.rs
  luda-editor/new-server/rpc/src/types/mod.rs
Labels: luda editor

#944 Track eq for () too
  namui/namui-hooks/src/render_ctx/dependencies.rs
Labels: namui

#945 Add simd128 for wasi
  namui/namui-cli/src/services/runtime_project/wasm.rs
Labels: namui, namui-cli

#947 Remove SpriteParts
  luda-editor/new-client/Cargo.lock
  luda-editor/new-client/src/render_psd_sprite.rs
  luda-editor/psd-sprite-render/Cargo.lock
  luda-editor/psd-sprite-render/src/render_psd_sprite.rs
  luda-editor/psd-sprite/src/lib.rs
  luda-editor/psd-sprite/src/psd_sprite.rs
Labels: luda editor

#948 Support big data for insert-js
  namui/namui-cli/webCode/src/insertJs.ts
  namui/namui-cli/webCode/src/interWorkerProtocol.ts
  namui/namui-cli/webCode/src/main.ts
  namui/namui-cli/webCode/src/newEventSystem.ts
  namui/namui/src/system/wasi/insert_js.rs
  namui/namui/src/system/wasi/new_event_system/event.rs
  namui/namui/src/system/wasi/new_event_system/mod.rs
Labels: namui

#946 Add asset mange page to upload asset
  luda-editor/new-client/src/asset_manage_page.rs
  luda-editor/new-client/src/episode_editor/mod.rs
  luda-editor/new-client/src/home.rs
  luda-editor/new-client/src/lib.rs
  luda-editor/new-client/src/router.rs
  luda-editor/new-client/src/select_asset_file.js
  luda-editor/new-server/rpc/src/types/mod.rs
Labels: enhancement, luda editor

#952 Print backtrace and fix backup error
  luda-editor/new-server/database/database/Cargo.toml
  luda-editor/new-server/database/database/src/document_store/sqlite/backup.rs
  luda-editor/new-server/database/database/src/document_store/sqlite/mod.rs
  luda-editor/new-server/database/db-list-all/Cargo.toml
  luda-editor/new-server/run_local.sh
  luda-editor/new-server/server/.gitignore
Labels: luda editor

#953 Add doc name in primary key
  luda-editor/new-server/clear-storage.sh
  luda-editor/new-server/database/database/src/document_store/sqlite/mod.rs
  luda-editor/new-server/database/db-list-all/Cargo.lock
  luda-editor/new-server/database/db-list-all/Cargo.toml
  luda-editor/new-server/database/db-list-all/src/main.rs
  luda-editor/new-server/database/schema/document/src/transact.rs
Labels: luda editor

#956 Encode opus ogg
  namui/namui/src/system/audio/mod.rs
  namui/namui/src/system/audio/opus.rs
Labels: namui

#955 Send data from rust to js
  namui/namui-cli/webCode/src/insertJs.ts
  namui/namui-cli/webCode/src/interWorkerProtocol.ts
  namui/namui-cli/webCode/src/main.ts
  namui/namui/src/system/wasi/insert_js.rs
  namui/sample/insert-js/Cargo.lock
  namui/sample/insert-js/Cargo.toml
  namui/sample/insert-js/src/lib.rs
  namui/sample/insert-js/src/login.js
Labels: namui

#957 Fix wrong byte index calculation
  namui/namui/src/system/audio/opus.rs
Labels: namui

#958 Put namui_sendData in block scope
  namui/namui-cli/webCode/src/insertJs.ts
Labels: namui

#959 Upload psd sprite with encoded
  luda-editor/new-client/Cargo.lock
  luda-editor/new-client/src/asset_manage_page.rs
  luda-editor/new-client/src/select_asset_file.js
  luda-editor/psd-sprite-render/Cargo.lock
Labels: luda editor

#962 Put tags in asset, remove sprite & audio doc
  luda-editor/new-server/database/database/src/lib.rs
  luda-editor/new-server/database/schema/0/src/asset/audio.rs
  luda-editor/new-server/database/schema/0/src/asset/mod.rs
  luda-editor/new-server/database/schema/0/src/asset/sprite/mod.rs
  luda-editor/new-server/database/schema/0/src/asset/tag.rs
  luda-editor/new-server/rpc/src/lib.rs
  luda-editor/new-server/rpc/src/types/mod.rs
  luda-editor/new-server/server/src/api/asset/mod.rs
  luda-editor/new-server/server/src/api/asset/reserve_team_asset_upload/mod.rs
  luda-editor/new-server/server/src/api/asset/update_asset_tags_for_asset/mod.rs
Labels: luda editor

#965 Fix wrong arg order on db update
  luda-editor/new-server/database/database/src/document_store/sqlite/mod.rs
Labels: bug, luda editor

#966 Allow all origin for asset bucket cors
  luda-editor/new-server/cdk/lib/AudioTranscodingStack.ts
Labels: luda editor

#967 Use http/1 for http:// url
  namui/namui-cli/webCode/src/httpFetch/yesStream.ts
  namui/sample/http/Cargo.lock
  namui/sample/http/server/.gitignore
  namui/sample/http/server/index.mjs
  namui/sample/http/server/package-lock.json
  namui/sample/http/server/package.json
  namui/sample/http/src/lib.rs
Labels: namui

#968 Upload assets dividing by kind
  luda-editor/new-server/rpc/src/types/mod.rs
  luda-editor/new-server/server/src/api/asset/reserve_team_asset_upload/mod.rs
  luda-editor/new-server/server/src/s3.rs
Labels: luda editor

#971 Fix wrong buffer index on emitting wheel event
  namui/namui-cli/webCode/src/eventSystem.ts
Labels: bug, namui

#963 Impl scene sprite editor
  luda-editor/new-client/src/asset_manage_page.rs
  luda-editor/new-client/src/episode_editor/mod.rs
  luda-editor/new-client/src/episode_editor/properties_panel.rs
  luda-editor/new-client/src/episode_editor/scene_list.rs
  luda-editor/new-client/src/episode_editor/scene_preview.rs
  luda-editor/new-client/src/episode_editor/scene_sprite_editor/mod.rs
  luda-editor/new-client/src/episode_editor/scene_sprite_editor/position_tool.rs
  luda-editor/new-client/src/episode_editor/scene_sprite_editor/scene_sprite_list.rs
  luda-editor/new-client/src/episode_editor/scene_sprite_editor/size_tool.rs
  luda-editor/new-client/src/episode_editor/scene_sprite_editor/sprite_select_tool.rs
  luda-editor/new-client/src/home.rs
  luda-editor/new-client/src/lib.rs
  luda-editor/new-client/src/new_episode_page.rs
  luda-editor/new-client/src/psd_sprite_util/mod.rs
  luda-editor/new-client/src/psd_sprite_util/psd_sprite_storage.rs
  luda-editor/new-client/src/psd_sprite_util/render_psd_sprite.rs
  luda-editor/new-client/src/router.rs
  luda-editor/new-server/rpc/src/types/mod.rs
  luda-editor/psd-sprite/src/psd_sprite.rs
Labels: luda editor

#972 Optimize size tool
  luda-editor/new-client/src/episode_editor/scene_preview.rs
  luda-editor/new-client/src/episode_editor/scene_sprite_editor/mod.rs
  luda-editor/new-client/src/episode_editor/scene_sprite_editor/size_tool.rs
Labels: luda editor
