Repository NamseEnt/namseent, pull requests merged in 2025-02, with the labels that each got.

#1010 Spawn monster
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/monster_spawn.rs
  tower-defense/src/route/move_on_route.rs
Labels: tower-defence

#1011 Add upgrades
  tower-defense/src/game_state/flow.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/hand/mod.rs
  tower-defense/src/hand/tower_preview.rs
  tower-defense/src/lib.rs
  tower-defense/src/status.rs
  tower-defense/src/top_bar/mod.rs
  tower-defense/src/upgrade.rs
  tower-defense/src/upgrade_board.rs
  tower-defense/src/upgrade_select.rs
Labels: enhancement, tower-defence

#1012 Move monsters
  namui/namui-type/src/types/units/duration_per_px.rs
  namui/namui-type/src/types/units/per.rs
  namui/namui-type/src/types/units/time/duration.rs
  namui/namui-type/src/types/units/time/instant.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/monster_spawn.rs
  tower-defense/src/game_state/render.rs
  tower-defense/src/game_state/tick.rs
  tower-defense/src/route/move_on_route.rs
Labels: tower-defence

#1013 Culling
  tower-defense/src/game_state/render.rs
Labels: tower-defence

#1014 Xy normalize()
  namui/namui-type/src/types/units/vector_types/macros.rs
Labels: namui

#1015 Projectile
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/monster_spawn.rs
  tower-defense/src/game_state/projectile.rs
  tower-defense/src/game_state/tick.rs
Labels: tower-defence

#1017 Generate upgrades by rarity
  tower-defense/Cargo.toml
  tower-defense/src/card.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/lib.rs
  tower-defense/src/rarity.rs
  tower-defense/src/upgrade.rs
Labels: enhancement, tower-defence

#1016 Place tower fn
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/render.rs
  tower-defense/src/game_state/tick.rs
Labels: tower-defence

#1018 Monster skill
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/monster.rs
  tower-defense/src/game_state/monster_spawn.rs
  tower-defense/src/game_state/tick.rs
Labels: tower-defence

#1020 Add items
  tower-defense/src/game_state/item.rs
  tower-defense/src/game_state/mod.rs
Labels: tower-defence

#1021 Impl item related UIs
  tower-defense/src/game_state/item.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/inventory.rs
  tower-defense/src/lib.rs
  tower-defense/src/shop.rs
  tower-defense/src/upgrade.rs
Labels: tower-defence

#1022 Tower Skill
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/monster/mod.rs
  tower-defense/src/game_state/monster/skill.rs
  tower-defense/src/game_state/tick.rs
  tower-defense/src/game_state/tower/mod.rs
  tower-defense/src/game_state/tower/skill.rs
Labels: tower-defence

#1023 Apply status effects
  namui/namui-type/src/types/units/time/duration.rs
  tower-defense/src/game_state/monster/mod.rs
  tower-defense/src/game_state/monster/skill.rs
  tower-defense/src/game_state/projectile.rs
  tower-defense/src/game_state/tick.rs
  tower-defense/src/game_state/tower/mod.rs
  tower-defense/src/game_state/tower/skill.rs
Labels: tower-defence

#1024 Camera impl
  tower-defense/src/game_state/camera.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/render.rs
Labels: tower-defence

#1025 Generate items randomly
  tower-defense/src/game_state/item.rs
  tower-defense/src/upgrade.rs
Labels: tower-defence

#1026 Tower animation
  tower-defense/src/game_state/tick.rs
  tower-defense/src/game_state/tower/mod.rs
Labels: tower-defence

#1027 Render route guide
  tower-defense/src/game_state/render.rs
Labels: tower-defence

#1028 Impl camera move and zoom
  tower-defense/src/game_state/camera.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/render.rs
  tower-defense/src/lib.rs
Labels: tower-defence

#1030 Update and merge legacy tower and tower effects
  tower-defense/src/card.rs
  tower-defense/src/game_state/flow.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/projectile.rs
  tower-defense/src/game_state/tower/mod.rs
  tower-defense/src/game_state/tower/skill.rs
  tower-defense/src/hand/get_highest_tower.rs
  tower-defense/src/hand/mod.rs
  tower-defense/src/hand/tower_preview.rs
  tower-defense/src/lib.rs
  tower-defense/src/tower.rs
Labels: tower-defence

#1032 Place tower with cursor previewing
  extension/in_rust/src/lib.rs
  luda-editor/new-server/bptree/src/bp_map/wal/mod.rs
  luda-editor/new-server/bptree/src/id_set/wal/mod.rs
  namui/namui/src/system/screen/wasm.rs
  tower-defense/.namuibundle
  tower-defense/asset/image/tower/barricade/idle1.png
  tower-defense/asset/image/tower/high/attack.png
  tower-defense/asset/image/tower/high/idle1.png
  tower-defense/asset/image/tower/high/idle2.png
  tower-defense/asset/image/tower/one_pair/idle1.png
  tower-defense/asset/image/tower/three_of_a_kind/attack.png
  tower-defense/asset/image/tower/three_of_a_kind/idle1.png
  tower-defense/asset/image/tower/three_of_a_kind/idle2.png
  tower-defense/asset/image/tower/two_pair/attack.png
  tower-defense/asset/image/tower/two_pair/idle1.png
  tower-defense/asset/image/tower/two_pair/idle2.png
  tower-defense/src/game_state/camera.rs
  tower-defense/src/game_state/can_place_tower.rs
  tower-defense/src/game_state/cursor_preview/mod.rs
  tower-defense/src/game_state/cursor_preview/tower.rs
  tower-defense/src/game_state/flow.rs
  tower-defense/src/game_state/item.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/projectile.rs
  tower-defense/src/game_state/quest/requirement.rs
  tower-defense/src/game_state/render.rs
  tower-defense/src/game_state/tick.rs
  tower-defense/src/game_state/tower/mod.rs
  tower-defense/src/game_state/tower/render.rs
  tower-defense/src/game_state/tower/skill.rs
  tower-defense/src/lib.rs
  tower-defense/src/tower_placing_hand/mod.rs
  tower-defense/src/tower_selecting_hand/get_highest_tower.rs
  tower-defense/src/tower_selecting_hand/mod.rs
  tower-defense/src/tower_selecting_hand/tower_preview.rs
  tower-defense/src/upgrade_board.rs
Labels: tower-defence

#1029 Merge web events to reduce rendering times
  namui/namui-cli/webCode/src/eventSystem.ts
  namui/namui-cli/webCode/src/imports/importObject.ts
  namui/namui-hooks/Cargo.lock
  namui/namui-hooks/Cargo.toml
  namui/namui-hooks/benches/translate_benchmark.rs
  namui/namui-type/src/types/units/time/instant.rs
  namui/namui/src/system/screen/wasm.rs
Labels: namui, tower-defence

#1033 Go with the flow of the game
  tower-defense/src/game_state/cursor_preview/tower.rs
  tower-defense/src/game_state/flow.rs
  tower-defense/src/game_state/item.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/monster/mod.rs
  tower-defense/src/game_state/monster_spawn.rs
  tower-defense/src/game_state/quest/reward.rs
  tower-defense/src/game_state/render.rs
  tower-defense/src/game_state/tick.rs
  tower-defense/src/game_state/tower/render.rs
  tower-defense/src/inventory.rs
  tower-defense/src/lib.rs
  tower-defense/src/quest_board.rs
  tower-defense/src/quests.rs
  tower-defense/src/shop.rs
  tower-defense/src/tower_selecting_hand/mod.rs
  tower-defense/src/upgrade_select.rs
Labels: tower-defence

#1036 Check disrupt before-after points
  tower-defense/src/game_state/can_place_tower.rs
  tower-defense/src/game_state/mod.rs
Labels: tower-defence

#1037 Test made by gpt 4o
  tower-defense/src/game_state/can_place_tower.rs
Labels: tower-defence
