Repository NamseEnt/namseent, pull requests merged in 2025-01, with the labels that each got.

#998 Add speaker selector
  luda-editor/new-client/Cargo.lock
  luda-editor/new-client/src/episode_editor/mod.rs
  luda-editor/new-client/src/episode_editor/speaker_selector.rs
  luda-editor/new-client/src/lib.rs
  luda-editor/new-server/rpc/Cargo.lock
  luda-editor/new-server/serializer/Cargo.lock
  luda-editor/psd-sprite/Cargo.lock
Labels: luda editor

#1006 Game State - MoveOnRoute
  tower-defense/src/game_state.rs
  tower-defense/src/lib.rs
  tower-defense/src/route_find.rs
Labels: tower-defence

#1007 Add AsRef for vector types
  namui/namui-type/src/types/units/vector_types/macros.rs
Labels: namui

#1008 Set up render stuffs
  tower-defense/src/game_state.rs
  tower-defense/src/lib.rs
  tower-defense/src/route/mod.rs
  tower-defense/src/route/move_on_route.rs
  tower-defense/src/route/route_find.rs
Labels: tower-defence

#1009 Check whether can place tower
  tower-defense/src/game_state/can_place_tower.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/render.rs
  tower-defense/src/route/mod.rs
  tower-defense/src/route/route_find.rs
Labels: tower-defence
