Repository NamseEnt/namseent, pull requests merged in 2025-08, with the labels that each got.

#1134 Add game speed indicator with controls
  tower-defense/src/game_speed_indicator.rs
  tower-defense/src/lib.rs
  tower-defense/src/theme/typography.rs
Labels: tower-defence

#1135 Share bundle between workers and reduce worker limit to 32
  namui/namui-cli/webCode/src/RingBufferWriter.ts
  namui/namui-cli/webCode/src/httpFetch/httpFetch.ts
  namui/namui-cli/webCode/src/imports/importObject.ts
  namui/namui-cli/webCode/src/insertJs.ts
  namui/namui-cli/webCode/src/interWorkerProtocol.ts
  namui/namui-cli/webCode/src/main-worker.ts
  namui/namui-cli/webCode/src/newEventSystem.ts
  namui/namui-cli/webCode/src/thread-worker.ts
  namui/namui-hooks/src/test/mod.rs
  namui/namui-hooks/src/test/pass_sig.rs
  namui/namui/src/lib.rs
Labels: namui

#1138 Add force start button to skip tower placement
  tower-defense/Cargo.lock
  tower-defense/Cargo.toml
  tower-defense/src/game_speed_indicator.rs
  tower-defense/src/lib.rs
  tower-defense/src/tower_placing_hand/mod.rs
  tower-defense/src/tower_selecting_hand/mod.rs
Labels: tower-defence

#1141 Fix wrong tower placement test
  tower-defense/src/game_speed_indicator.rs
  tower-defense/src/game_state/can_place_tower.rs
  tower-defense/src/game_state/item/usage.rs
  tower-defense/src/game_state/monster/move_monsters.rs
  tower-defense/src/game_state/placed_towers.rs
  tower-defense/src/game_state/quest/mod.rs
  tower-defense/src/game_state/quest/tracking_state.rs
  tower-defense/src/game_state/quest/trigger_event.rs
  tower-defense/src/route/mod.rs
  tower-defense/src/route/route_find.rs
  tower-defense/src/tower_placing_hand/mod.rs
Labels: tower-defence

#1148 Fix wrong parent stack order
  namui/namui-hooks/src/compose/ctx/mod.rs
  namui/namui-hooks/src/compose/ctx/public/event/mod.rs
  namui/namui-hooks/src/compose/ctx/public/event/test.rs
  namui/namui-type/src/types/units/px.rs
Labels: tower-defence

#1164 Game idea lab - tack, the parrying game
  game-idea-lab/tack/.gitignore
  game-idea-lab/tack/Cargo.lock
  game-idea-lab/tack/Cargo.toml
  game-idea-lab/tack/README.md
  game-idea-lab/tack/src/lib.rs
Labels: game-idea-lab

#1170 Support Component for FnOnce with parameter
  namui/namui-hooks/src/component/component_trait.rs
  tower-defense/src/game_state/render.rs
Labels: namui, tower-defence

#1172 Show rich text and thumbnail in tower preview
  namui/particle/src/lib.rs
  tower-defense/src/game_state/hand/mod.rs
  tower-defense/src/game_state/hand/shared.rs
  tower-defense/src/l10n/api.rs
  tower-defense/src/l10n/rich_text_helpers.rs
  tower-defense/src/l10n/upgrade.rs
  tower-defense/src/l10n/upgrade/mod.rs
  tower-defense/src/l10n/upgrade/upgrade_kind/english.rs
  tower-defense/src/l10n/upgrade/upgrade_kind/korean.rs
  tower-defense/src/l10n/upgrade/upgrade_kind/mod.rs
  tower-defense/src/theme/typography.rs
  tower-defense/src/tower_selecting_hand/mod.rs
  tower-defense/src/tower_selecting_hand/tower_preview/mod.rs
  tower-defense/src/tower_selecting_hand/tower_preview/stat.rs
  tower-defense/src/tower_selecting_hand/tower_preview/tower_preview_component.rs
  tower-defense/src/tower_selecting_hand/tower_preview/tower_skill.rs
  tower-defense/src/tower_selecting_hand/tower_preview/upgrade_helpers.rs
  tower-defense/src/upgrade_select.rs
Labels: tower-defence

#1174 Get highest tower template only with active slots
  tower-defense/src/game_state/hand/mod.rs
  tower-defense/src/game_state/projectile.rs
  tower-defense/src/game_state/tower/mod.rs
  tower-defense/src/game_state/tower/skill.rs
  tower-defense/src/tower_selecting_hand/mod.rs
Labels: tower-defence

#1177 Show confirm modal on force start if hand is not empty
  tower-defense/src/game_state/hand/mod.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/modal.rs
  tower-defense/src/game_state/start_confirm_modal.rs
  tower-defense/src/l10n/api.rs
  tower-defense/src/l10n/ui.rs
  tower-defense/src/lib.rs
  tower-defense/src/settings.rs
  tower-defense/src/tower_placing_hand/mod.rs
  tower-defense/src/upgrade_board/components.rs
Labels: tower-defence
