Repository NamseEnt/namseent, pull requests merged in 2025-04, with the labels that each got.

#1052 Level Based Rarity
  tower-defense/src/game_state/item/generation.rs
  tower-defense/src/game_state/level_rarity_weight.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/quest/mod.rs
  tower-defense/src/game_state/upgrade/generation.rs
Labels: tower-defence

#1053 Compress payloads, Keep cache bundle, Strip debug info
  namui/namui-cli/src/cli.rs
  namui/namui-cli/src/main.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/build.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/start.rs
  namui/namui-cli/src/procedures/linux/wasm32_wasi_web/vite_config.rs
  namui/namui-cli/src/procedures/linux/x86_64_pc_windows_msvc/build.rs
  namui/namui-cli/src/procedures/linux/x86_64_pc_windows_msvc/start.rs
  namui/namui-cli/src/procedures/start.rs
  namui/namui-cli/src/services/bundle/bundle_to_sqlite.rs
  namui/namui-cli/src/services/runtime_project/mod.rs
  namui/namui-cli/src/services/runtime_project/wasm.rs
  namui/namui-cli/webCode/expressPlugin.ts
  namui/namui-cli/webCode/package-lock.json
  namui/namui-cli/webCode/package.json
Labels: namui-cli

#1054 Add enemies
  tower-defense/src/game_state/monster/mod.rs
  tower-defense/src/game_state/monster_spawn.rs
  tower-defense/src/tower_selecting_hand/get_highest_tower.rs
Labels: tower-defence

#1058 Level up
  tower-defense/src/game_state/level_rarity_weight.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/theme/typography.rs
  tower-defense/src/top_bar/mod.rs
Labels: tower-defence

#1059 Fix tower attack speed_multiplier addition
  tower-defense/src/game_state/tower/mod.rs
Labels: tower-defence

#1061 Add settings modal
  tower-defense/src/lib.rs
  tower-defense/src/settings.rs
Labels: tower-defence

#1060 Fix buttons in quests, inventory
  tower-defense/src/inventory.rs
  tower-defense/src/quests.rs
Labels: tower-defence

#1062 Add background
  tower-defense/asset/image/background/tile0.jpg
  tower-defense/asset/image/background/tile1.jpg
  tower-defense/asset/image/background/tile2.jpg
  tower-defense/asset/image/background/tile3.jpg
  tower-defense/src/asset_loader/background_asset_loader.rs
  tower-defense/src/asset_loader/mod.rs
  tower-defense/src/asset_loader/tower_asset_loader.rs
  tower-defense/src/game_state/background.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/render.rs
Labels: tower-defence

#1064 Rich text implementation
  namui/namui-prebuilt/src/lib.rs
  namui/namui-prebuilt/src/rich_text/mod.rs
  namui/namui-prebuilt/src/rich_text/parse.rs
  namui/namui/src/render/image.rs
  namui/namui/src/render/text.rs
  namui/sample/rich-text/.gitignore
  namui/sample/rich-text/.namuibundle
  namui/sample/rich-text/Cargo.lock
  namui/sample/rich-text/Cargo.toml
  namui/sample/rich-text/resources/apple.png
  namui/sample/rich-text/src/lib.rs
  namui/sample/rich-text/src/text.txt
Labels: tower-defence

#1067 Upgrade sccache action from 0.3 to 0.8
  .github/workflows/deploy-luda-editor.yml_disabled
  .github/workflows/publish-extension.yml
Labels: extension

#1065 Show tower upgrade preview
  tower-defense/src/game_state/upgrade/mod.rs
  tower-defense/src/tower_selecting_hand/tower_preview.rs
Labels: tower-defence

#1066 Constrain camera
  tower-defense/src/game_state/camera.rs
Labels: tower-defence

#1068 Show tower select upgraded value on preview
  tower-defense/src/game_state/flow.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/quest/tracking.rs
  tower-defense/src/game_state/upgrade/mod.rs
  tower-defense/src/tower_selecting_hand/mod.rs
  tower-defense/src/tower_selecting_hand/tower_preview.rs
  tower-defense/src/upgrade_board.rs
Labels: tower-defence

#1069 Fix left reroll chance counting for prevent error from extra reroll
  tower-defense/src/game_state/flow.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/tower_selecting_hand/mod.rs
  tower-defense/src/tower_selecting_hand/tower_preview.rs
Labels: bug, tower-defence

#1072 Fix tower place on the end
  tower-defense/src/game_state/cursor_preview/tower.rs
Labels: tower-defence

#1071 Balance patch
  tower-defense/src/game_state/item/generation.rs
  tower-defense/src/game_state/item/mod.rs
  tower-defense/src/game_state/mod.rs
  tower-defense/src/game_state/monster/mod.rs
  tower-defense/src/game_state/monster/skill.rs
  tower-defense/src/game_state/quest/requirement.rs
  tower-defense/src/game_state/quest/reward.rs
  tower-defense/src/game_state/tower/mod.rs
  tower-defense/src/game_state/upgrade/generation.rs
Labels: tower-defence

#1075 Custom mouse cursor, Default cursor only
  namui/namui-cli/webCode/src/main.ts
  namui/namui-drawer/src/draw/mod.rs
  namui/namui-drawer/src/lib.rs
  namui/namui-hooks/src/compose/ctx/compose_command.rs
  namui/namui-hooks/src/compose/ctx/mod.rs
  namui/namui-hooks/src/compose/ctx/public/event.rs
  namui/namui-hooks/src/compose/ctx/public/stack.rs
  namui/namui/src/system/skia/mod.rs
  namui/skia/src/bounding_box/rendering_tree.rs
  namui/skia/src/render/rendering_tree/mod.rs
  namui/skia/src/render/rendering_tree/special/mod.rs
  namui/skia/src/render/rendering_tree/special/mouse_cursor.rs
  namui/skia/src/xy_in/mod.rs
  namui/skia/src/xy_in/rendering_tree.rs
Labels: namui

#1077 Impl standrad mouse cursor
  namui/namui-cli/system_bundle/cursor/LICENSE
  namui/namui-cli/system_bundle/cursor/capitaine_24.png
  namui/namui-cli/system_bundle/cursor/capitaine_24.txt
  namui/namui-drawer/src/draw/mod.rs
  namui/namui-drawer/src/lib.rs
  namui/namui/src/system/mod.rs
  namui/namui/src/system/mouse/cursor.rs
  namui/namui/src/system/mouse/mod.rs
  namui/namui/src/system/skia/mod.rs
  namui/sample/cursor/.gitignore
  namui/sample/cursor/Cargo.lock
  namui/sample/cursor/Cargo.toml
  namui/sample/cursor/src/lib.rs
  namui/skia/src/render/rendering_tree/mod.rs
  namui/skia/src/render/rendering_tree/special/mouse_cursor.rs
  namui/skia/src/xy_in/mod.rs
  namui/skia/src/xy_in/rendering_tree.rs
Labels: namui

#1080 Expose rand
  namui/namui/src/lib.rs
Labels: namui

#1081 Use global xy for mouse xy in test
  namui/namui-hooks/benches/translate_benchmark.rs
  namui/namui-hooks/src/compose/ctx/mod.rs
  namui/namui-hooks/src/compose/ctx/public/event.rs
  namui/namui-hooks/src/compose/ctx/public/stack.rs
  namui/namui-hooks/src/render_ctx/dependencies.rs
  namui/namui-hooks/src/test/mod.rs
  namui/namui-hooks/src/test/mouse_event.rs
  namui/namui-hooks/src/test/pass_sig.rs
  namui/namui-hooks/src/world/mod.rs
  namui/namui-hooks/src/world/public.rs
  namui/namui-prebuilt/src/table/tests.rs
  namui/namui-type/src/types/units/rect.rs
  namui/namui/src/hooks/looper.rs
  namui/namui/src/system/skia/mod.rs
Labels: namui

#1082 Fix rotated bounding box problem
  namui/namui-type/src/types/units/matrix.rs
  namui/namui-type/src/types/units/rect.rs
  namui/skia/src/bounding_box/rendering_tree.rs
  namui/skia/src/render/rendering_tree/special/absolute.rs
  namui/skia/src/render/rendering_tree/special/translate.rs
Labels: namui
